* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

/*  ID's */
#container {
    top: 50px;
    width: 1278px;
    height: 800px;
    position: relative;
    margin: auto;
    background: linear-gradient(269deg,#00db4c, #d42ad5, #e49d25, #293a94, #eaf000, #2acc86);
    background-size: 1000% 1000%;
    animation: spacedistortion 4s ease infinite;
    overflow: hidden;
    z-index: 1;
}


#planet-slime{
    width: 120px;
    height: 120px;
    background-image: radial-gradient(#ddf45b, #32bc35);
    margin-top: 90px;
    margin-left: 580px;
    overflow: hidden;
    position: absolute;
    z-index: 4;
    
    
}

#planet-slime-structure{
    width: 200px;
    height: 50px;
    position: absolute;
    opacity: 0.8;
    margin-left: -200px;
    margin-bottom: 50px;
    transform: rotate(40deg);
    z-index: 5;
    animation: planet-rotate 9s linear infinite;
    
}

#kenbeth {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 600px;
    top: -400px;
    z-index: 7;
    animation: kenbeth 7s 4s forwards ease-in-out;
    
}


#satelite {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 400px;
    top: 800px;
    animation: satelite 7s 15s linear;
    z-index: 5;  
    
}

#ufo-alien{
    width: 350px;
    height: 220px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#ufo{
    width: 200px;
    height: 142px;
    top: 50px;
    left: 0px;
    position: absolute;
    transform: rotate(-20deg);
}

#alien{
    width: 90px;
    height: 150px;
    top: 0px;
    left: 135px;
    position: absolute;
}

#marge{
    width: 87px;
    height: 180px;
    top: 35px;
    left: 225px;
    position: absolute;
    transform: rotate(-30deg);
}

#ufo-alien{
    animation: ufo-alien 5s 0s linear forwards;
    z-index: 6;
    position: absolute;

}

#background-slime-1 {
    animation: bubble-1 5s 6s ease-in infinite ;
    
    
}

#background-slime-2 {
    animation: bubble-2 5s 6s ease-in infinite;
    
    
}

#background-slime-3 {
    animation: bubble-3 5s 7s ease-in infinite;
    
   
}

#background-slime-4 {
    animation: bubble-4 5s 8s ease-in infinite;
    
    
}

#background-slime-5 {
    animation: bubble-5 5s 9s ease-in infinite;
    
    
}

/* Classes */
.background-slime {
    position: absolute;
    width: 10px;
    height: 50px;
    left: 650px;
    top: 150px;
    border-radius: 40%;
    border: 1px solid #ddf45b;
    background-color: #32bc35;
    z-index: 3;
}

.box1{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 40px;
    left: 514px;
    background-color: black;
    z-index: 2;
    border-radius: 75%;
}

.planet{
    position: absolute;
    border-radius: 100%; 
}


/* animation for the satelite's rotation and trajectory through the screen */
@keyframes satelite {
    
    0% {
        transform: scale(0) rotate(60deg);
        left:150px;
        top:40px;
    }
    25% {
        transform: scale(0.3) rotate(90deg);
        left: 100px;
        top: 200px;
    }
    
    50% {
        transform: scale(0.5) rotate(180deg)  ;
        left: 100px;
        top: 400px;
    }

    75% {
        transform: scale(0.6) rotate(270deg)  ;
        left: 100px;
        top: 600px;
    }

    100% {
        transform: scale(0.8) rotate(360deg)  ;
        left: 100px;
        top: 800px;
    }
}

/* Animation for Kenbeth(the man flying on a cow) */
@keyframes kenbeth {
    0% {
        transform: scale(0) scaleX(-1) rotate(180deg);
        left: 450px;
        top: 40px;
    }

    50% {
        transform: scale(0.6) scaleX(-1);
        left: 550px;
        top: 250px;
    }
    
    100% {
        transform: scale(0.9) scaleX(-1) rotate(360deg)  ;
        left: 700px;
        top: 300px
    }
    
    
}

/*  Backgroundanimation with all the distorted colors */
@-webkit-keyframes spacedistortion {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes spacedistortion {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}

/* Animation for the slimes trajectory */
@keyframes bubble-1 {
    0% {
        transform: scale(0) rotate(0deg);
        left: 650px; 
        top: 140px;
    }

    100% {
        transform: scale(1) rotate(0deg);
        left: 600px;
        top: 800px;
    }
}

@keyframes bubble-2 {
    0% {
        transform: scale(0) rotate(0deg);
        left: 650px;
        top: 140px;
    }

    100% {
        transform: scale(1) rotate(30deg);
        left: 340px;
        top: 800px;
    }
}

@keyframes bubble-3 {
    0% {
        transform: scale(0) rotate(0deg);
        left: 650px;
        top: 140px;
    }

    100% {
        transform: scale(1) rotate(0deg);
        left: 997px;
        top: 800px;
    }
}

@keyframes bubble-4 {
    0% {
        transform: scale(0) rotate(0deg);
        left: 650px;
        top: 150px;
    }

    100% {
        transform: scale(1) rotate(0deg);
        left: 697px;
        top: 800px;
    }
}

@keyframes bubble-5 {
    0% {
        transform: scale(0) rotate(0deg);
        left: 650px;
        top: 150px;
    }

    100% {
        transform: scale(1) rotate(0deg);
        left: 800px;
        top: 800px;
    }
}

/* animation for the rocket´s trajectory into the black hole */
@keyframes ufo-alien {
    0%{
        transform: scale(0) rotate(45deg);
        left:450px;
        top:40px;
    }
    
    50%{
        transform: scale(0.5) rotate(180deg);
        left: 250px;
        top: 110px;
    }
    
    100%{
        transform: scale(1) rotate(360deg);
        left: 75px;
        top: 160px;
    }
    
}

/* animation for context animation on the slimeplanet */
@keyframes planet-rotate{
    100%{
        transform: translateX(350px);
    }
    
}
