* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 1278px;
  height: 800px;
  top: 50px;
  position: relative;
  margin: auto;
  background-color: #0c0920;
  background-size: 100% 100%;
  overflow: hidden;
}

body {
  background-color: black;
}

/* Divs */
#main-box{
    width: 2000px;
    height: 900px;
    top: 500px;
    left: -300px;
    border-radius: 50%;
    position: relative;
    background-color: #415a77;
    border: 4px solid gray;
}

#ground-texture1{
    width: 250px;
    height: 60px;
    bottom: 150px;
    left: 300px;
}

#ground-texture2{
    width: 200px;
    height: 60px;
    bottom: 100px;
    left: 900px;
}

#ground-texture3{
    width: 200px;
    height: 70px;
    bottom: 40px;
    left: 125px;
}

#ground-texture4{
    width: 240px;
    height: 80px;
    bottom: 30px;
    left: 600px;
}

#ground-texture5{
    width: 200px;
    height: 30px;
    bottom: 250px;
    left: 600px;
}

#ground-texture6{
    width: 150px;
    height: 40px;
    bottom: 160px;
    left: 700px;
}

#ground-texture7{
    width: 150px;
    height: 70px;
    bottom: -20px;
    left: 400px;
}

#ground-texture8{
    width: 200px;
    height: 100px;
    bottom: -10px;
    left: 1000px;
}

.texture{
    border-radius: 50%;
    position: absolute;
    background-color: darkgray;
    border: 4px solid gray;
}

/* planets */
#ice{
    height: 650px;
    width: 650px;
    position: absolute;
    bottom: 200px;
    left: -100px;
    z-index: 1;
}

#vacay{
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 500px;
    left: 350px;
}

#slime{
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 400px;
    left: 650px;
}

#cowboy{
    height: 400px;
    width: 400px;
    position: absolute;
    bottom: 250px;
    left: 930px;
}

/* Characters */
#kenbeth-landing{
    height: 450px;
    width: 450px;
    position: absolute;
    bottom: 60px;
    left: 20px;
    z-index: 2;
}

/* Animation */