/* standard styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
    z-index: 0;
}

/* Main container */
#container {
  width: 1278px;
  height: 800px;
  top: 50px;
  position: relative;
  margin: auto;
  background-image: radial-gradient(#0F0A28, #0c0920 80%);
  overflow: hidden;
  z-index: 1;
}

/* Stars */
.stars{
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    background: #ffffff;
    box-shadow:
        0 0 1.5px 1px #ffffff, 
        0 0 2.5px 1.5px #ffffff, 
        0 0 3.5px 2.5px #ffffff; 
    
    animation: zoom-stars 5s 3s ease-in forwards;
}

@keyframes zoom-stars{
    100%{
    width: 2px;
    height: 2px;
    }
}

#star-1{
    top: 50px;
    left: 50px;
}

#star-2{
    top: 150px;
    left: 120px;
}

#star-3{
    top: 70px;
    left: 250px;
}

#star-4{
    top: 180px;
    left: 380px;
    animation: star-blinking 10s 4s ease-in infinite;
}

#star-5{
    top: 40px;
    left: 510px;
}

#star-6{
    top: 130px;
    left: 680px;
}

#star-7{
    top: 20px;
    left: 790px;
}

#star-8{
    top: 160px;
    left: 930px;
}

#star-9{
    top: 50px;
    left: 1100px;
    animation: star-blinking 10s 7s ease-in infinite;
}

#star-10{
    top: 200px;
    left: 1200px;
}

#star-11{
    top: 420px;
    left: 80px;
}

#star-12{
    top: 300px;
    left: 220px;
    animation: star-blinking 10s 12s ease-in infinite;
}

#star-13{
    top: 375px;
    left: 450px;
}

#star-14{
    top: 280px;
    left: 600px;
}

#star-15{
    top: 350px;
    left: 850px;
    animation: star-blinking 10s 10s ease-in infinite;
}

#star-16{
    top: 300px;
    left: 1050px;
}

#star-17{
    top: 450px;
    left: 1200px;
}

#star-18{
    top: 650px;
    left: 40px;
}

#star-19{
    top: 500px;
    left: 300px;
}

#star-20{
    top: 625px;
    left: 500px;
    animation: star-blinking 10s 6s ease-in infinite;
}

#star-21{
    top: 475px;
    left: 700px;
}

#star-22{
    top: 650px;
    left: 900px;
}

#star-23{
    top: 570px;
    left: 1100px;
    animation: star-blinking 10s 13s ease-in infinite;
}

#star-24{
    top: 700px;
    left: 1250px;
}

#star-25{
    top: 720px;
    left: 270px;
}

#star-26{
    top: 720px;
    left: 700px;
}

@keyframes star-blinking{
    2.5%{
        box-shadow:
        0 0 4.5px 3px #ffffff, 
        0 0 15px 3px #ffffff, 
        0 0 30px 3px #ffffff; 
    }
    5%{    
        width: 2px;
        height: 2px;
        box-shadow:
        0 0 1.5px 1px #ffffff, 
        0 0 2.5px 1.5px #ffffff, 
        0 0 3.5px 2.5px #ffffff;  
    }
}

/* Planets */
.planet{
    position: absolute;
    border-radius: 100%; 
}

/* Planet Vacay */
#planet-vacay{
    width: 270px;
    height: 270px;
    background-image: radial-gradient(#f6d2da, #fcc9d1);
    top: 110px;
    left: 40px;
    overflow: hidden;
}

#planet-vacay-structure{
    width: 300px;
    height: 80px;
    position: absolute;
    opacity: 0.6;
    left: -200px;
    top: 20px;
    transform: rotate(-40deg);
    
    animation: planet-rotate 15s linear infinite;
}

/* Planet Cowboy */
#planet-cowboy{
    width: 150px;
    height: 150px;
    background-image: radial-gradient(#faff81, #ffc53a);
    top: 50px;
    left: 350px;
    overflow: hidden;
}

#planet-cowboy-structure{
    width: 280px;
    height: 40px;
    position: absolute;
    opacity: 0.7;
    bottom: 0px;
    left: -280px;
    transform: rotate(-15deg);
    
    animation: planet-rotate 10s linear infinite;
}

/* Planet Slime */
#planet-slime{
    width: 130px;
    height: 130px;
    background-image: radial-gradient(#ddf45b, #32bc35);
    top: 50px;
    left: 600px;
    overflow: hidden;
}

#planet-slime-structure{
    width: 250px;
    height: 50px;
    position: absolute;
    opacity: 0.8;
    left: -200px;
    bottom: 50px;
    transform: rotate(40deg);
    
    animation: planet-rotate 9s linear infinite;
}

/* Ground texture and main planet */
#main-box{
    width: 2000px;
    height: 900px;
    top: 500px;
    left: -300px;
    border-radius: 50%;
    position: relative;
    background-color: #415a77;
    border: 4px solid gray;
    z-index: 1;
}

#ground-texture1{
    width: 250px;
    height: 60px;
    bottom: 650px;
    left: 200px;
}

#ground-texture2{
    width: 200px;
    height: 60px;
    bottom: 750px;
    left: 600px;
}

#ground-texture3{
    width: 200px;
    height: 40px;
    bottom: 800px;
    left: 1200px;
}

#ground-texture4{
    width: 240px;
    height: 80px;
    bottom: 590px;
    left: 600px;
}

#ground-texture5{
    width: 200px;
    height: 30px;
    bottom: 850px;
    left: 900px;
}

#ground-texture6{
    width: 150px;
    height: 50px;
    bottom: 700px;
    left: 1400px;
}

#ground-texture7{
    width: 200px;
    height: 50px;
    bottom: 750px;
    left: 960px;
}

#ground-texture8{
    width: 200px;
    height: 150px;
    bottom: 500px;
    left: 1100px;
}

.texture{
    border-radius: 50%;
    position: absolute;
    background-color: darkgray;
    border: 4px solid gray;
    z-index: 2;
    transform: scale(1);
}

/* Buildings */
#Citybuilding{
    width: 300px;
    height: 400px;
    left: 800px;
    bottom: 200px;
    position: absolute;
    background-color: #7c7c7c;
    z-index: 3;
}
/* windows */
.window{
    width: 43px;
    height: 49px;
    position: relative;
    margin: 1.8px;
    display: inline-block;
    z-index: 3;
}
/* colors windows */
#window33{
    background-color: #000000;
}
#window34{
    background-color: #000000;
}
#window39{
    background-color: #000000;
}
#window40{
    background-color: #000000;
}

.purple{
    background-color: #444444;
}

.purple:hover{
    background-color:  #9d69a3;
    cursor: default;
}

.green{
    background-color: #40f99b;
}

.green:hover{
    background-color: #9d69a3;
    cursor: default;
}

/* Characters */
#kenbeth-landing{
    height: 500px;
    width: 500px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 3;
    animation-name: ken-fly;
    animation-duration: 3s;
    animation-delay: 0.1s;
}

#astrodog{
    height: 240px;
    width: 200px;
    position: absolute;
    bottom: 150px;
    left: 700px;
    z-index: 3;
    animation: astrodog-dance 5s 5s infinite;
}

#jetsons{
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 500px;
    left: -200px;
    z-index: 2;
    animation-name: jetson-fly;
    animation-duration: 10s;
    animation-delay: 4s;
}

#towelie{
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 20px;
    left: 360px;
    z-index: 3;
    animation-name: towelie-pop;
    animation-duration: 4s;
}

#squanchy{
    height: 250px;
    width: 150px;
    position: absolute;
    bottom: 200px;
    left: 1020px;
    z-index: 2;
    animation-name: squanchy-travel;
    animation-duration: 14s;
}

#rocket{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 400px;
    left: -100px;
    z-index: 1;
    animation: rocket-fly 3s 10s ease-in-out;
    overflow: hidden;
}

#antenna{
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 560px;
    left: 860px;
    z-index: 2;
}

#enter{
    height: 50px;
    width: 110px;
    position: absolute;
    bottom: 256px;
    left: 1000px;
    z-index: 3;
}

#speech-buble{
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 100px;
    left: 280px;
    z-index: 4;
}

/* Link */
.link{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10px;
    left: 40px;
    z-index: 4;
}

/* Animation */
.texture:hover{
    transform: scale(1.3);
}
#ground-texture6:hover{
    transform: scale(1.3);
    content: ;
}

#towelie:active{
    
}
@keyframes planet-rotate{
    100%{
        transform: translateX(350px);
    }
}

@keyframes squanchy-travel{
    from{transform: translateX(1020px)}
    to{transform: translateX(0px)}
}

@keyframes jetson-fly{
    from{transform: translateX(+1700px)}
    to{transform: translateX(-600px)}
}

@keyframes towelie-pop{
    from{transform: translateY(600px)}
    to{transform: translateY(0px)}
}

@keyframes ken-fly{
    from{transform: translateX(-700px)}
    to{transform: translateX(200px;)} 
}
@keyframes rocket-fly{
    100%{
        top: -100px;
        right: 1100px;
        left: 1200px;
    }
}

@keyframes astrodog-dance{
    0% {transform: translate(1px, 1px) rotate(0deg);}
  10% {transform: translate(-1px, -2px) rotate(-1deg);}
  20% {transform: translate(-3px, 0px) rotate(1deg);}
  30% {transform: translate(3px, 2px) rotate(0deg);}
  40% {transform: translate(1px, -1px) rotate(1deg);}
  50% {transform: translate(-1px, 2px) rotate(-1deg);}
  60% {transform: translate(-3px, 1px) rotate(0deg);}
  70% {transform: translate(3px, 1px) rotate(-1deg);}
  80% {transform: translate(-1px, -1px) rotate(1deg);}
  90% {transform: translate(1px, 2px) rotate(0deg);}
  100% {transform: translate(1px, -2px) rotate(-1deg);}
}