* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

#container {
    width: 1278px;
    height: 800px;
    position: relative;
    margin: auto;
    overflow: hidden;
    background-image: radial-gradient(#0F0A28, #0c0920 80%);
    margin-top: 50px;
}

/* Stars */
.stars{
    width: 1px;
    height: 1px;
        position: absolute;
    border-radius: 100%;
    background: #ffffff;
    box-shadow:
        0 0 1.5px 1px #ffffff, 
        0 0 2.5px 1.5px #ffffff, 
        0 0 3.5px 2.5px #ffffff; 
}

#star-1{
    top: 50px;
    left: 50px;
}

#star-2{
    top: 150px;
    left: 120px;
}

#star-3{
    top: 70px;
    left: 250px;
}

#star-4{
    top: 180px;
    left: 380px;
    animation: star-blinking 10s 4s ease-in infinite;
}

#star-5{
    top: 40px;
    left: 510px;
}

#star-6{
    top: 130px;
    left: 680px;
}

#star-7{
    top: 20px;
    left: 790px;
}

#star-8{
    top: 160px;
    left: 930px;
}

#star-9{
    top: 50px;
    left: 1100px;
    animation: star-blinking 10s 7s ease-in infinite;
}

#star-10{
    top: 200px;
    left: 1200px;
}

#star-11{
    top: 420px;
    left: 80px;
}

#star-12{
    top: 300px;
    left: 220px;
    animation: star-blinking 10s 12s ease-in infinite;
}

#star-13{
    top: 375px;
    left: 450px;
}

#star-14{
    top: 280px;
    left: 600px;
}

#star-15{
    top: 350px;
    left: 850px;
    animation: star-blinking 10s 10s ease-in infinite;
}

#star-16{
    top: 300px;
    left: 1050px;
}

#star-17{
    top: 450px;
    left: 1200px;
}

#star-18{
    top: 650px;
    left: 40px;
}

#star-19{
    top: 500px;
    left: 300px;
}

#star-20{
    top: 625px;
    left: 500px;
    animation: star-blinking 10s 6s ease-in infinite;
}

#star-21{
    top: 475px;
    left: 700px;
}

#star-22{
    top: 650px;
    left: 900px;
}

#star-23{
    top: 570px;
    left: 1100px;
    animation: star-blinking 10s 13s ease-in infinite;
}

#star-24{
    top: 700px;
    left: 1250px;
}

#star-25{
    top: 720px;
    left: 270px;
}

#star-26{
    top: 720px;
    left: 700px;
}

/* Planets */
.planet{
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
}

/* Planet Cowboy */
#planet-cowboy{
    width: 160px;
    height: 160px;
    top: 100px;
    left: -50px;
    background-image: radial-gradient(#faff81, #ffc53a);
}

#planet-cowboy-structure{
    width: 280px;
    height: 40px;
    position: absolute;
    bottom: 50px;
    left: -280px;
    opacity: 0.8;
    transform: rotate(-15deg);
    animation: planet-rotate 10s linear infinite;
}


/* Planet Slime */
#planet-slime{
    width: 400px;
    height: 400px;
    top: 150px;
    left: 700px;
    background-image: radial-gradient(#ddf45b, #32bc35);

}

#planet-slime-structure{
    width: 500px;
    height: 250px;
    position: absolute;
    left: -300px;
    bottom: 50px;
        opacity: 0.8;
    transform: rotate(40deg);
    animation: planet-rotate 13s linear infinite;
}

/*University UK Container with elements */
#uk-container{
    width: 625px;
    height: 1000px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#uk{
    width: 625px;
    height: 1000px;
    position: absolute;
    top: 0px;
    left: 20px;
    z-index: 1;
}

#hk-welcome{
    width: 220px;
    height: 80px;
    position: absolute;
    right: 185px;
    top: 180px;
    z-index: 1;
}

/* Charachters */
#marge{
    opacity: 0;
    width: 88px;
    height: 180px;
    position: absolute;
    top: 430px;
    z-index: 3;
    left: 370px;
    
    animation: appearing 1s 11s linear forwards;
}

#marge:hover ~ #chat-bubble-marge, #marge:hover ~ #text-marge{
    opacity: 1;
}

#kenbeth{
    width: 130px;
    height: 200px;
    position: absolute;
    top: 430px;
    left: 290px;
    z-index: 3;
    opacity: 0;
    animation: appearing 1s 11s linear forwards;             
}

#kenbeth:hover ~ #chat-bubble-kenbeth, #kenbeth:hover ~ #text-kenbeth{
    opacity: 1;
}

/* Chat bubbles */
.chat-bubbles{
    width: 500px;
    height: 370px;
    position: absolute;
    z-index: 1;
        opacity: 0;
}

#chat-bubble-marge{
    top: 200px;
    left: 350px;
}

#chat-bubble-kenbeth{
    top: 170px;
    left: -70px;
    transform: scaleX(-1);
}

.texts{
    opacity: 0;
    width: 250px;
    height: 100px;
    position: absolute;
    text-align: center;
    font-family: arial;
    z-index: 1;
}

#text-marge{
    top: 340px;
    left: 440px;
}

#text-kenbeth{
    top: 280px;
    left: 90px;
}

/* The black hole */
#black-hole {
    position: absolute;
    width: 200px;
    top: 20px;
    left: 1000px;
    animation: black-hole-tilt 30s linear infinite both;
}

/* The space cow */
#spacecow{
    width: 400px;
    height: 500px;
    position: absolute;
    top: 120px;
    left: 1300px;
    z-index: 1;
    animation: returning-home 10s 1s ease-in forwards,
                spacecow-disappearing 1s 11s linear forwards;
}

/* Keyframes */
@keyframes star-blinking{
    2.5%{
        box-shadow:
        0 0 4.5px 3px #ffffff, 
        0 0 15px 3px #ffffff, 
        0 0 30px 3px #ffffff; 
    }
    5%{    
        width: 2px;
        height: 2px;
        box-shadow:
        0 0 1.5px 1px #ffffff, 
        0 0 2.5px 1.5px #ffffff, 
        0 0 3.5px 2.5px #ffffff;  
    }
}

@keyframes black-hole-tilt {
    0% {
        transform: rotate(0deg);

    }
    100% {
        transform: rotate(360deg);

    }
}

@keyframes planet-rotate{
    100%{
        transform: translateX(780px);
    }
    
}

@keyframes returning-home{
    0%{ top: -143px;
        left: 905px;
        transform: rotate(0deg) scale(0);
}
    33%{
        top: 100px;
        left: 1000px;
        transform: rotate(360deg) scale(0.5);
    }
    66%{
        top: 270px;
        left: 700px;
        transform: rotate(0deg) scale(0.75);
    }
    100%{
        top: 350px;
        left: 180px;
        transform: rotate(0deg) scale(1); 
        opacity: 1;
    }
}

@keyframes spacecow-disappearing{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* Makes Kenbeth and marge land on the University */
@keyframes appearing{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
