* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

#container {
    width: 1278px;
    height: 800px;
    position: relative;
    margin: auto;

    background-image: radial-gradient(#0F0A28, #0c0920 80%);
    margin-top: 50px;
}



/* Stars */

#stars-container{
    animation: zoom-star-container 8s ease-out forwards;
    position: absolute;
    top: 0px;
}


.stars{
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    background: #ffffff;
    box-shadow:
        0 0 1.5px 1px #ffffff, 
        0 0 2.5px 1.5px #ffffff, 
        0 0 3.5px 2.5px #ffffff; 
}

#star-1{
    top: 50px;
    left: 50px;
}

#star-2{
    top: 150px;
    left: 120px;
}

#star-3{
    top: 70px;
    left: 250px;
}

#star-4{
    top: 180px;
    left: 380px;
    animation: star-blinking 10s 4s ease-in infinite;
}

#star-5{
    top: 40px;
    left: 510px;
}

#star-6{
    top: 130px;
    left: 680px;
}

#star-7{
    top: 20px;
    left: 790px;
}

#star-8{
    top: 160px;
    left: 930px;
}

#star-9{
    top: 50px;
    left: 1100px;
    animation: star-blinking 10s 7s ease-in infinite;
}

#star-10{
    top: 200px;
    left: 1200px;
}

#star-11{
    top: 420px;
    left: 80px;
}

#star-12{
    top: 300px;
    left: 220px;
    animation: star-blinking 10s 12s ease-in infinite;
}

#star-13{
    top: 375px;
    left: 450px;
}

#star-14{
    top: 280px;
    left: 600px;
}

#star-15{
    top: 350px;
    left: 850px;
    animation: star-blinking 10s 10s ease-in infinite;
}

#star-16{
    top: 300px;
    left: 1050px;
}

#star-17{
    top: 450px;
    left: 1200px;
}

#star-18{
    top: 650px;
    left: 40px;
}

#star-19{
    top: 500px;
    left: 300px;
}

#star-20{
    top: 625px;
    left: 500px;
    animation: star-blinking 10s 6s ease-in infinite;
}

#star-21{
    top: 475px;
    left: 700px;
}

#star-22{
    top: 650px;
    left: 900px;
}

#star-23{
    top: 570px;
    left: 1100px;
    animation: star-blinking 10s 13s ease-in infinite;
}

#star-24{
    top: 700px;
    left: 1250px;
}

#star-25{
    top: 720px;
    left: 270px;
}

#star-26{
    top: 720px;
    left: 700px;
}

@keyframes star-blinking{
    2.5%{
        box-shadow:
        0 0 4.5px 3px #ffffff, 
        0 0 15px 3px #ffffff, 
        0 0 30px 3px #ffffff; 
    }
    5%{    
        width: 2px;
        height: 2px;
        box-shadow:
        0 0 1.5px 1px #ffffff, 
        0 0 2.5px 1.5px #ffffff, 
        0 0 3.5px 2.5px #ffffff;  
    }
}


/* Planets */

.planet{
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
}


/* Planet Ice */


#planet-ice{
    width: 700px;
    height: 700px;
    top: 600px;
    left: -300px;
    background: linear-gradient(270deg, #00c5cc, #3285d3);
    
    animation: zoom-planet-ice 8s ease-in forwards;
}

#planet-ice-structure{
    width: 700px;
    height: 350px;
    position: absolute;
    opacity: 0.6;
    top: 0px;
    left: 0px;
    
    animation: planet-rotate 30s linear infinite;
}
    



/* Planet city */

#planet-city{
    width: 300px;
    height: 300px;
    background-image: linear-gradient(to right, #415a77, #415a77);
    top: 380px;
    left: 300px;
    overflow: hidden;
    
}

#planet-city-structure{
    width: 300px;
    height: 130px;
    position: absolute;
    top: 30px;
    left: -160px;
    transform: rotate(15deg);
    
    animation: planet-rotate 13s linear infinite;
}


/* Planet Vacay */

#planet-vacay{
    width: 200px;
    height: 200px;
    background-image: radial-gradient(#f6d2da, #fcc9d1);
    top: 240px;
    left: 620px;
}

#planet-vacay-structure{
    width: 300px;
    height: 80px;
    position: absolute;
    opacity: 0.7;
    left: -200px;
    top: 20px;
    transform: rotate(-40deg);
    
    animation: planet-rotate 15s linear infinite;
}



/* Planet cowboy */

#planet-cowboy{
    width: 160px;
    height: 160px;
    background-image: radial-gradient(#faff81, #ffc53a);
    top: 170px;
    left: 1050px;
    overflow: hidden;
}

#planet-cowboy-structure{
    width: 280px;
    height: 40px;
    position: absolute;
    opacity: 0.8;
    bottom: 50px;
    left: -280px;
    transform: rotate(-15deg);
    
    animation: planet-rotate 10s linear infinite;
}

@keyframes planet-rotate{
    100%{
        transform: translateX(350px);
    }
    
}

#hk{
    width: 625px;
    height: 1000px;
    position: absolute;
    top: 0px;
    right: 20px;
    

}

@keyframes hk-hovering{                                 
    0%{
        top: 0px;   
    }
    40%{
        top: 30px;
    }
    100%{
        top: 0px;

    }
}

#ufo-alien{
    width: 350px;
    height: 420px;
    position: absolute;
    top: 0px;
    left: -351px;
    z-index: 1;
    
    animation: the-kidnapping 2s 5s ease-in-out forwards,
                ufo-alien-leaving 2s 11s ease-in forwards;
}

@keyframes the-kidnapping{
    100%{
        top: 160px;
        left: 730px;
        transform: scale(1.2);
    }
}

@keyframes ufo-alien-leaving{
    0%{
       top: 160px;
        left: 730px; 
    }
    100%{
    top: 0px;
    left: -375px;
    }
}

#ufo{
    width: 200px;
    height: 142px;
    top: 50px;
    left: 0px;
    position: absolute;
    transform: rotate(-20deg);
}

#alien{
    width: 90px;
    height: 150px;
    top: 0px;
    left: 135px;
    position: absolute;
}

#marge-kidnapped{
    width: 87px;
    height: 180px;
    top: 35px;
    left: 225px;
    position: absolute;
    transform: rotate(-30deg);
    opacity: 0;
    
    animation: marge-kidnapped-visible 1s 10s linear forwards;
}

@keyframes marge-kidnapped-visible{
        0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


#green-fog{
    width: 95px;
    height: 0px; 
    position: absolute;
    top: 172px;
    left: 90px;
    background: #76f91f;
    opacity: 0.6;
    transform: rotate(-10deg);
    
    animation: green-fog-action 3s 8s ease forwards;
}

@keyframes green-fog-action{
    0%{
        height: 0px;
    }
    33%{
        height: 250px;
    }
    66%{
        height: 250px;
    }
    100%{
        height: 0px;
    }
}

#hk-container{
    width: 625px;
    height: 1000px;
    position: absolute;
    top: 0px;
    right: 20px;
    animation: 
    hk-hovering 3.5s linear infinite;
}

#hk-welcome{
    width: 220px;
    height: 80px;
    position: absolute;
    left: 185px;
    top: 180px;
    z-index: 1;
}

#doors{
    width: 65px;
    height: 127px;
    position: absolute;
    top: 422px;
    left: 295px;
    background: #000000;
    opacity: 0;
    
    animation: door-open 0.75s 5s linear 1;
}

@keyframes door-open{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

#marge-ufo{
    width: 150px;
    height: 115;
    position: absolute;
    top: -116px;
    left: -151px;
    animation: marge-flying 4s 1s ease-out forwards;
}
    
    @keyframes marge-flying{
        90%{
            top: 500px;
            left: 700px;
            transform: scale(2);
            opacity: 1;
        }
        100%{
            top: 500px;
            left: 700px;
            transform: scale(2);
            opacity: 0;
        }
    }

#marge{
    width: 88px;
    height: 180px;
    position: absolute;
    top: 430px;
    left: 130px;
    opacity: 0;
    
    animation: marge-appearing 3s 4.5s linear forwards,
                marge-disappearing 1s 9s ease-out forwards;
    
}

@keyframes marge-appearing{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        top: 420px;
        left: 200px;
    }
}

@keyframes marge-disappearing{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}



#principal{
    width: 69px;
    height: 110px;
    position: absolute;
    top: 440px;
    left: 290px;
    opacity: 0;
    
    animation: principal-coming 3s 5s linear forwards;
}

@keyframes principal-coming{
    10%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        top: 470px;
        left: 310px;
        transform: scale(1.3);
    }
}








