* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Installer / Legger til font */
@font-face {
    font-family: SpaceFont;
    src: url("../fonts/SPACEBAR.ttf");
}

body {
    background-color: #000000;
    z-index: -1;
}

#container {
    top: 50px;
    margin: auto;
    height: 800px;
    width: 1278px;
    background-image: linear-gradient(#0c0920, #6698a5);
    position: relative;
    overflow: hidden;
}



/*Characters size and position*/
#pingu {
    width: 185px;
    height: 200px;
    position: absolute;
    top: 420px;
    left: 900px;
    z-index: 3;
}

#glow-fish {
    width: 145px;
    height: 170px;
    position: absolute;
    top: 650px;
    left: 900px;
    opacity: 90%;
    z-index: 2;
    transform: scaleX(-1);
    animation: glowfish-movement alternate ease-in-out 5s infinite;
}

#big-fish {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 650px;
    left: 200px;
    opacity: 80%;
    z-index: 2;
    animation: big-fish-movement 8s infinite;
}

#medium-fish {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 650px;
    left: 150px;
    opacity: 80%;
    z-index: 2;
    animation: medium-fish-movement 10s infinite;
}

#small-fish {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 650px;
    left: 150px;
    opacity: 80%;
    z-index: 2;
    animation: small-fish-movement 7s infinite;
}


#yellow-fish {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 650px;
    left: 180px;
    opacity: 80%;
    z-index: 2;
    animation: yellow-fish-movement 10s infinite;
}

#kenbeth1 {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 350px;
    left: 150px;
    z-index: 3;
    animation: kenbeth-flying 2.5s linear;

}

/*Speachbubles*/

#speech-pingu {
    width: 200px;
    height: 175px;
    position: absolute;
    top: 300px;
    left: 800px;
    z-index: 2;
    opacity: 0;
}

#pingu:active ~ #speech-kenbeth {
    opacity: 1;
}

#speech-kenbeth {
    width: 200px;
    height: 175px;
    position: absolute;
    top: 280px;
    left: 400px;
    opacity: 0;
    z-index: 1;
}

#pingu:active ~ #speech-pingu {
    opacity: 1;
    transition-delay: 1s;

}

.stars {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    background: #ffffff;
    box-shadow:
        0 0 1.5px 1px #ffffff,
        0 0 2.5px 1.5px #ffffff,
        0 0 3.5px 2.5px #ffffff;


}

#star-1 {
    top: 50px;
    left: 50px;
}

#star-3 {
    top: 70px;
    left: 250px;
}

#star-4 {
    top: 180px;
    left: 380px;
    animation: star-blinking 10s 4s ease-in infinite;
}

#star-5 {
    top: 40px;
    left: 510px;
}

#star-6 {
    top: 130px;
    left: 630px;
}

#star-7 {
    top: 20px;
    left: 790px;
}

#star-8 {
    top: 160px;
    left: 930px;
}

#star-9 {
    top: 50px;
    left: 1100px;
    animation: star-blinking 10s 7s ease-in infinite;
}

#star-10 {
    top: 200px;
    left: 1200px;
}

#star-11 {
    top: 420px;
    left: 80px;
}

#star-12 {
    top: 300px;
    left: 220px;
    animation: star-blinking 10s 12s ease-in infinite;
}


/*Planets size and position*/

.planet {
    position: absolute;
    border-radius: 100%;

}

#city-planet {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right, #415a77, #415a77);
    top: 70px;
    left: 100px;
    overflow: hidden;

}

#planet-city-structure {
    width: 400px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 30px;

    animation: planet-rotate 11s linear infinite;
}

#vaykay-planet {
    width: 170px;
    height: 170px;
    background-image: radial-gradient(#f6d2da, #fcc9d1);
    top: 170px;
    left: 400px;
    overflow: hidden;
    z-index: 0;

}

#planet-vacay-structure {
    width: 130px;
    height: 80px;
    position: absolute;
    opacity: 0.6;
    right: 0px;
    top: 50px;
    z-index: 0;

    animation: planet-rotate 10s linear infinite;
}


#cowboy-planet {
    width: 150px;
    height: 150px;
    background-image: radial-gradient(#faff81, #ffc53a);
    top: 100px;
    left: 670px;
    overflow: hidden;
}

#planet-cowboy-structure {
    width: 180px;
    height: 60px;
    position: absolute;
    opacity: 0.8;
    bottom: 20px;

    animation: planet-rotate 9s linear infinite;
}

#slime-planet {
    width: 180px;
    height: 180px;
    background-image: radial-gradient(#ddf45b, #32bc35);
    top: 150px;
    left: 950px;
    overflow: hidden;
}

#planet-slime-structure {
    width: 300px;
    height: 75px;
    position: absolute;
    opacity: 0.8;
    right: 0px;
    bottom: 30px;

    animation: planet-rotate 12s linear infinite;
}


/*Ice planet layout*/
#water {
    width: 1800px;
    height: 800px;
    background-color: #288FEF;
    border: solid 100px #FFFFFF;
    opacity: 100%;
    position: absolute;
    top: 500px;
    left: -220px;
    border-radius: 50%;
    z-index: 2;
}

#mountain {
    position: absolute;
    top: 175px;
    left: 900px;
    z-index: 0;
    transition: 1s;
}

#mountain:hover {
    transform: scale(1.1);
}

#help {
    position: absolute;
    font-family: SpaceFont;
    width: 100px;
    font-size: 14px;
    color: #000000;
    padding: 10px;
    top: 435px;
    left: 725px;
    transform: skew(4deg);
    opacity: 1;
    text-align: center;
    z-index: 2;
    opacity: 1;
}

#clue {
    position: absolute;
    font-family: SpaceFont;
    width: 100px;
    font-size: 14px;
    color: #415a77;
    padding: 10px;
    top: 435px;
    left: 725px;
    transform: skew(4deg);
    opacity: 1;
    text-align: center;
    z-index: 2;
    opacity: 0;
}

#sign {
    width: 150px;
    height: 175px;
    position: absolute;
    top: 400px;
    left: 700px;
    z-index: 2;
    cursor: pointer;
}

#sign:active ~ #help {
    opacity: 0;
}

#sign:active ~ #clue {
    opacity: 1;
}


/*Falling snow 1-12*/
#snowflake1 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 2;
    animation: fallingsnow1 11s infinite;
}

#snowflake2 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 100px;
    opacity: 50%;
    z-index: 2;
    animation: fallingsnow2 8s 7s infinite;
}

#snowflake3 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 200px;
    opacity: 50%;
    z-index: 2;
    animation: fallingsnow3 10s infinite;
}

#snowflake4 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 2;
    animation: fallingsnow4 10s 5s infinite;
}

#snowflake5 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 2;
    animation: fallingsnow5 12s infinite;
}

#snowflake6 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 2;
    animation: fallingsnow6 10s 2.5s infinite;
}

#snowflake7 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 1;
    animation: fallingsnow7 8s infinite;
}

#snowflake8 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 1;
    animation: fallingsnow8 11s 1s infinite;
}

#snowflake9 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 1;
    animation: fallingsnow9 7s infinite;
}

#snowflake10 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 2;
    animation: fallingsnow10 8s 2s infinite;
}

#snowflake11 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 1;
    animation: fallingsnow11 7s infinite;
}

#snowflake12 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 2;
    animation: fallingsnow12 7s 2s infinite;
}

@keyframes planet-rotate {
    100% {
        transform: translateX(350px);
    }

}

/*Falling snow keyframe 1-12*/

@keyframes fallingsnow1 {
    0% {
        top: -50px;
        left: 700px
    }

    25% {
        top: 50px;
        left: 750;
    }

    50% {
        top: 300px;
        left: 650px;
    }

    75% {
        top: 600px;
        left: 700px;
    }

    100% {
        top: 900px;
        left: 756px;
        opacity: 0;
    }
}

@keyframes fallingsnow2 {
    0% {
        top: -50px;
        left: 100px
    }

    25% {
        top: 50px;
        left: 150;
    }

    50% {
        top: 300px;
        left: 50px;
    }

    75% {
        top: 600px;
        left: 100px;
    }

    100% {
        top: 900px;
        left: 156px;
        opacity: 0;
    }
}

@keyframes fallingsnow3 {
    0% {
        top: -50px;
        left: 200px
    }

    25% {
        top: 50px;
        left: 250;
    }

    50% {
        top: 300px;
        left: 150px;
    }

    75% {
        top: 600px;
        left: 200px;
    }

    100% {
        top: 900px;
        left: 256px;
        opacity: 0;
    }
}

@keyframes fallingsnow4 {
    0% {
        top: -50px;
        left: 300px
    }

    25% {
        top: 50px;
        left: 350;
    }

    50% {
        top: 300px;
        left: 250px;
    }

    75% {
        top: 600px;
        left: 300px;
    }

    100% {
        top: 900px;
        left: 356px;
        opacity: 0;
    }
}

@keyframes fallingsnow5 {
    0% {
        top: -50px;
        left: 400px
    }

    25% {
        top: 50px;
        left: 450;
    }

    50% {
        top: 300px;
        left: 350px;
    }

    75% {
        top: 600px;
        left: 400px;
    }

    100% {
        top: 900px;
        left: 456px;
        opacity: 0;
    }
}

@keyframes fallingsnow6 {
    0% {
        top: -50px;
        left: 500px
    }

    25% {
        top: 50px;
        left: 550;
    }

    50% {
        top: 300px;
        left: 450px;
    }

    75% {
        top: 600px;
        left: 500px;
    }

    100% {
        top: 900px;
        left: 556px;
        opacity: 0;
    }
}

@keyframes fallingsnow7 {
    0% {
        top: -50px;
        left: 600px
    }

    25% {
        top: 50px;
        left: 650;
    }

    50% {
        top: 300px;
        left: 550px;
    }

    75% {
        top: 600px;
        left: 600px;
    }

    100% {
        top: 900px;
        left: 656px;
        opacity: 0;
    }
}

@keyframes fallingsnow8 {
    0% {
        top: -50px;
        left: 800px
    }

    25% {
        top: 50px;
        left: 850;
    }

    50% {
        top: 300px;
        left: 750px;
    }

    75% {
        top: 600px;
        left: 800px;
    }

    100% {
        top: 900px;
        left: 856px;
        opacity: 0;
    }
}

@keyframes fallingsnow9 {
    0% {
        top: -50px;
        left: 900px
    }

    25% {
        top: 50px;
        left: 950;
    }

    50% {
        top: 300px;
        left: 850px;
    }

    75% {
        top: 600px;
        left: 900px;
    }

    100% {
        top: 900px;
        left: 956px;
        opacity: 0;
    }
}

@keyframes fallingsnow10 {
    0% {
        top: -50px;
        left: 1000px
    }

    25% {
        top: 50px;
        left: 1050;
    }

    50% {
        top: 300px;
        left: 950px;
    }

    75% {
        top: 600px;
        left: 1000px;
    }

    100% {
        top: 900px;
        left: 1056px;
        opacity: 0;
    }
}

@keyframes fallingsnow11 {
    0% {
        top: -50px;
        left: 1100px
    }

    25% {
        top: 50px;
        left: 1150;
    }

    50% {
        top: 300px;
        left: 1150px;
    }

    75% {
        top: 600px;
        left: 1200px;
    }

    100% {
        top: 900px;
        left: 1256px;
        opacity: 0;
    }
}

@keyframes fallingsnow12 {
    0% {
        top: -50px;
        left: 1100px
    }

    25% {
        top: 50px;
        left: 1150;
    }

    50% {
        top: 300px;
        left: 1050px;
    }

    75% {
        top: 600px;
        left: 1100px;
    }

    100% {
        top: 900px;
        left: 1156px;
        opacity: 0;
    }
}

/*Star-blinking*/
@keyframes star-blinking {
    2.5% {
        box-shadow:
            0 0 4.5px 3px #ffffff,
            0 0 15px 3px #ffffff,
            0 0 30px 3px #ffffff;
    }

    5% {
        width: 2px;
        height: 2px;
        box-shadow:
            0 0 1.5px 1px #ffffff,
            0 0 2.5px 1.5px #ffffff,
            0 0 3.5px 2.5px #ffffff;
    }
}

/*Fish movement*/
@keyframes glowfish-movement {
    0% {
        top: 650px;
        left: 900px;
    }

    50% {
        top: 645px;
        left: 895px
    }

    100% {
        top: 655px;
        left: 905px
    }
}

@keyframes big-fish-movement {
    0% {
        left: 200px;
        transform: scaleX(1);
    }

    25% {
        left: 300px;
        transform: scaleX(1);
    }

    50% {
        left: 400px;
        transform: scaleX(1);

    }

    75% {
        left: 350px;
        transform: scaleX(-1);
    }

    100% {
        left: 200px;
        transform: scaleX(1);
    }

}

@keyframes medium-fish-movement {
    0% {
        left: 150px;
        transform: scaleX(1);
    }

    25% {
        left: 100px;
        transform: scaleX(-1)
    }

    50% {
        left: 50px;
        transform: scaleX(-1)
    }

    75% {
        left: 100px;
        transform: scaleX(1)
    }

    100% {
        left: 150px;
        transform: scaleX(1)
    }
}

@keyframes small-fish-movement {
    0% {
        left: 150px;
        transform: scaleX(1);
    }

    25% {
        left: 100px;
        transform: scaleX(-1)
    }

    50% {
        left: 50px;
        transform: scaleX(-1)
    }

    75% {
        left: 100px;
        transform: scaleX(1)
    }

    100% {
        left: 150px;
        transform: scaleX(1)
    }
}

@keyframes yellow-fish-movement {
    0% {
        top: 650px;
        transform: scaleX(1);
    }

    25% {
        top: 750px;
        transform: scaleX(-1)
    }

    50% {
        top: 650px;
        transform: scaleX(-1)
    }

    75% {
        top: 750px;
        transform: scaleX(1)
    }

    100% {
        top: 650px;
        transform: scaleX(1)
    }
}

/*Kenbeth movement*/

@keyframes kenbeth-flying {
    0% {
        transform: rotate(0deg);
        left: -400px;
    }

    25% {
        transform: rotate(-44deg);
    }

    50% {
        transform: rotate(0deg);
        left: 150px;
    }

    75% {
        top: 200px;
    }

    100% {
        top: 350px;
    }
}
