* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c0920;
    z-index: -1;
}

#container {
    top: 50px;
    margin: auto;
    height: 800px;
    width: 1278px;
    background-color: #6698a5;
    background-image: linear-gradient(top);
    position: relative;
    overflow: hidden;
}

/*Characters size and position*/
#pingu {
    width: 185px;
    height: 200px;
    position: absolute;
    top: 420px;
    left: 900px;
    z-index: 2;
}

#glow-fish {
    width: 145px;
    height: 170px;
    position: absolute;
    top: 650px;
    left: 900px;
    opacity: 90%;
    z-index: 2;
    transform: scaleX(-1);
    -webkit-animation: glowfish-movement alternate ease-in-out 5s infinite;
}

#big-fish {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 650px;
    left: 200px;
    opacity: 80%;
    z-index: 2;
    -webkit-animation: big-fish-movement 8s infinite;
}

#medium-fish {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 650px;
    left: 150px;
    opacity: 80%;
    z-index: 2;
    -webkit-animation: medium-fish-movement 10s infinite;
}

#small-fish {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 650px;
    left: 150px;
    opacity: 80%;
    z-index: 2;
    -webkit-animation: small-fish-movement 7s infinite;
}


#yellow-fish {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 650px;
    left: 180px;
    opacity: 80%;
    z-index: 2;
    -webkit-animation: yellow-fish-movement 10s infinite;
}

#kenbeth1 {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 350px;
    left: 150px;
    z-index: 2;
    -webkit-animation: kenbeth-flying 1.5s linear;
    -webkit-animation: kenbeth-flying 1.5s linear ease-out;
}

/*Speachbubles*/

#speech-pingu {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 300px;
    left: 800px;
    z-index: 2;
    opacity: 0;
}

#speech-kenbeth {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 280px;
    left: 400px;
    opacity: 0;
}

#pingu:active ~ #speech-kenbeth {
    opacity: 1;
}

#pingu:active ~ #speech-pingu {
    opacity: 1;
    -webkit-transition-delay: 1s;

}

/*Planets size and position*/

.planet {
    position: absolute;
    border-radius: 100%;

}

#city-planet {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to right, #415a77, #415a77);
    top: 70px;
    left: 100px;
    overflow: hidden;

}

#planet-city-structure {
    width: 400px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 30px;
}

#vaykay-planet {
    width: 70px;
    height: 70px;
    background-image: radial-gradient(#f6d2da, #fcc9d1);
    top: 170px;
    left: 400px;
    overflow: hidden;
}

#planet-vacay-structure {
    width: 130px;
    height: 80px;
    position: absolute;
    opacity: 0.6;
    right: 0px;
    top: 50px;
}


#cowboy-planet {
    width: 50px;
    height: 50px;
    background-image: radial-gradient(#faff81, #ffc53a);
    top: 100px;
    left: 670px;
    overflow: hidden;
}

#planet-cowboy-structure {
    width: 180px;
    height: 60px;
    position: absolute;
    opacity: 0.8;
    bottom: 20px;
}

#slime-planet {
    width: 80px;
    height: 80px;
    background-image: radial-gradient(#ddf45b, #32bc35);
    top: 150px;
    left: 950px;
    overflow: hidden;
}

#planet-slime-structure {
    width: 300px;
    height: 75px;
    position: absolute;
    opacity: 0.8;
    right: 0px;
    bottom: 30px;
}


/*Ice planet layout*/
#water {
    width: 1800px;
    height: 800px;
    background-color: #288FEF;
    border: solid 100px #FFFFFF;
    opacity: 100%;
    position: absolute;
    top: 500px;
    left: -220px;
    border-radius: 50%;
    z-index: 2;
}

#mountain {
    position: absolute;
    top: 175px;
    left: 900px;
    z-index: 0;
}

#sign {
    width: 150px;
    height: 175px;
    position: absolute;
    top: 400px;
    left: 700px;
    z-index: 1;
}

#sign2 {
    width: 150px;
    height: 175px;
    position: absolute;
    top: 400px;
    left: 700px;
    z-index: 0;

}

#sign:active {
    opacity: 0;
}


/*Falling snow 1-12*/
#snowflake1 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 2;
    -webkit-animation: fallingsnow1 normal 11s infinite;
}

#snowflake2 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 100px;
    opacity: 50%;
    z-index: 2;
    -webkit-animation: fallingsnow2 normal 8s infinite;
    -webkit-animation-delay: 7s;
}

#snowflake3 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 200px;
    opacity: 50%;
    z-index: 2;
    -webkit-animation: fallingsnow3 normal 10s infinite;
}

#snowflake4 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 2;
    -webkit-animation: fallingsnow4 normal 10s infinite;
    -webkit-animation-delay: 5s;
}

#snowflake5 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 2;
    -webkit-animation: fallingsnow5 normal 12s infinite;
}

#snowflake6 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 2;
    -webkit-animation: fallingsnow6 normal 10s infinite;
    -webkit-animation-delay: 2.5s;
}

#snowflake7 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 1;
    -webkit-animation: fallingsnow7 normal 8s infinite;
}

#snowflake8 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 1;
    -webkit- animation: fallingsnow8 normal 11s infinite;
    -webkit-animation-delay: 1s;
}

#snowflake9 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 1;
    -webkit-animation: fallingsnow9 normal 7s infinite;
}

#snowflake10 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 2;
    -webkit-animation: fallingsnow10 normal 8s infinite;
    -webkit-animation-delay: 2s;
}

#snowflake11 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 1;
    -webkit-animation: fallingsnow11 normal 7s infinite;
}

#snowflake12 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -50px;
    left: 700px;
    opacity: 50%;
    z-index: 2;
    -webkit-animation: fallingsnow12 normal 7s infinite;
    -webkit-animation-delay: 2s;
}

/*Falling snow keyframe 1-12*/

@-webkit-keyframes fallingsnow1 {
    0% {
        top: -50px;
        left: 700px
    }

    25% {
        top: 50px;
        left: 750;
    }

    50% {
        top: 300px;
        left: 650px;
    }

    75% {
        top: 600px;
        left: 700px;
    }

    100% {
        top: 900px;
        left: 756px;
        opacity: 0;
    }
}

@-webkit-keyframes fallingsnow2 {
    0% {
        top: -50px;
        left: 100px
    }

    25% {
        top: 50px;
        left: 150;
    }

    50% {
        top: 300px;
        left: 50px;
    }

    75% {
        top: 600px;
        left: 100px;
    }

    100% {
        top: 900px;
        left: 156px;
        opacity: 0;
    }
}

@-webkit-keyframes fallingsnow3 {
    0% {
        top: -50px;
        left: 200px
    }

    25% {
        top: 50px;
        left: 250;
    }

    50% {
        top: 300px;
        left: 150px;
    }

    75% {
        top: 600px;
        left: 200px;
    }

    100% {
        top: 900px;
        left: 256px;
        opacity: 0;
    }
}

@-webkit-keyframes fallingsnow4 {
    0% {
        top: -50px;
        left: 300px
    }

    25% {
        top: 50px;
        left: 350;
    }

    50% {
        top: 300px;
        left: 250px;
    }

    75% {
        top: 600px;
        left: 300px;
    }

    100% {
        top: 900px;
        left: 356px;
        opacity: 0;
    }
}

@-webkit-keyframes fallingsnow5 {
    0% {
        top: -50px;
        left: 400px
    }

    25% {
        top: 50px;
        left: 450;
    }

    50% {
        top: 300px;
        left: 350px;
    }

    75% {
        top: 600px;
        left: 400px;
    }

    100% {
        top: 900px;
        left: 456px;
        opacity: 0;
    }
}

@-webkit-keyframes fallingsnow6 {
    0% {
        top: -50px;
        left: 500px
    }

    25% {
        top: 50px;
        left: 550;
    }

    50% {
        top: 300px;
        left: 450px;
    }

    75% {
        top: 600px;
        left: 500px;
    }

    100% {
        top: 900px;
        left: 556px;
        opacity: 0;
    }
}

@-webkit-keyframes fallingsnow7 {
    0% {
        top: -50px;
        left: 600px
    }

    25% {
        top: 50px;
        left: 650;
    }

    50% {
        top: 300px;
        left: 550px;
    }

    75% {
        top: 600px;
        left: 600px;
    }

    100% {
        top: 900px;
        left: 656px;
        opacity: 0;
    }
}

@-webkit-keyframes fallingsnow8 {
    0% {
        top: -50px;
        left: 800px
    }

    25% {
        top: 50px;
        left: 850;
    }

    50% {
        top: 300px;
        left: 750px;
    }

    75% {
        top: 600px;
        left: 800px;
    }

    100% {
        top: 900px;
        left: 856px;
        opacity: 0;
    }
}

@-webkit-keyframes fallingsnow9 {
    0% {
        top: -50px;
        left: 900px
    }

    25% {
        top: 50px;
        left: 950;
    }

    50% {
        top: 300px;
        left: 850px;
    }

    75% {
        top: 600px;
        left: 900px;
    }

    100% {
        top: 900px;
        left: 956px;
        opacity: 0;
    }
}

@-webkit-keyframes fallingsnow10 {
    0% {
        top: -50px;
        left: 1000px
    }

    25% {
        top: 50px;
        left: 1050;
    }

    50% {
        top: 300px;
        left: 950px;
    }

    75% {
        top: 600px;
        left: 1000px;
    }

    100% {
        top: 900px;
        left: 1056px;
        opacity: 0;
    }
}

@-webkit-keyframes fallingsnow11 {
    0% {
        top: -50px;
        left: 1100px
    }

    25% {
        top: 50px;
        left: 1150;
    }

    50% {
        top: 300px;
        left: 1150px;
    }

    75% {
        top: 600px;
        left: 1200px;
    }

    100% {
        top: 900px;
        left: 1256px;
        opacity: 0;
    }
}

@-webkit-keyframes fallingsnow12 {
    0% {
        top: -50px;
        left: 1100px
    }

    25% {
        top: 50px;
        left: 1150;
    }

    50% {
        top: 300px;
        left: 1050px;
    }

    75% {
        top: 600px;
        left: 1100px;
    }

    100% {
        top: 900px;
        left: 1156px;
        opacity: 0;
    }
}

/*Fish movement*/
@-webkit-keyframes glowfish-movement {
    0% {
        top: 650px;
        left: 900px;
    }

    50% {
        top: 645px;
        left: 895px
    }

    100% {
        top: 655px;
        left: 905px
    }
}

@-webkit-keyframes big-fish-movement {
    0% {
        left: 200px;
        transform: scaleX(1);
    }

    25% {
        left: 300px;
        transform: scaleX(1);
    }

    50% {
        left: 400px;
        transform: scaleX(1);

    }

    75% {
        left: 350px;
        transform: scaleX(-1);
    }

    100% {
        left: 200px;
        transform: scaleX(1);
    }

}

@-webkit-keyframes medium-fish-movement {
    0% {
        left: 150px;
        transform: scaleX(1);
    }

    25% {
        left: 100px;
        transform: scaleX(-1)
    }

    50% {
        left: 50px;
        transform: scaleX(-1)
    }

    75% {
        left: 100px;
        transform: scaleX(1)
    }

    100% {
        left: 150px;
        transform: scaleX(1)
    }
}

@-webkit-keyframes small-fish-movement {
    0% {
        left: 150px;
        transform: scaleX(1);
    }

    25% {
        left: 100px;
        transform: scaleX(-1)
    }

    50% {
        left: 50px;
        transform: scaleX(-1)
    }

    75% {
        left: 100px;
        transform: scaleX(1)
    }

    100% {
        left: 150px;
        transform: scaleX(1)
    }
}


@-webkit-keyframes yellow-fish-movement {
    0% {
        top: 650px;
        transform: scaleX(1);
    }

    25% {
        top: 750px;
        transform: scaleX(-1)
    }

    50% {
        top: 650px;
        transform: scaleX(-1)
    }

    75% {
        top: 750px;
        transform: scaleX(1)
    }

    100% {
        top: 650px;
        transform: scaleX(1)
    }
}

/*Kenbeth movement*/

@-webkit-keyframes kenbeth-flying {
    0% {
        transform: rotate(0deg);
        left: -400px;
    }

    25% {
        transform: rotate(-44deg);
    }

    50% {
        transform: rotate(0deg);
        left: 150px;
    }

    75% {
        top: 230px;
    }

    100% {
        top: 120px;
    }
}
