* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c0920;
}

#container {
    width: 1278px;
    height: 800px;
    background-color: #6698a5;
    position: relative;
    overflow: hidden;
}

#pingu {
    width: 185px;
    height: 200px;
    position: absolute;
    top: 420px;
    left: 900px;
    z-index: 2;
}

#glowFish {
    width: 145px;
    height: 170px;
    position: absolute;
    top: 650px;
    left: 900px;
    opacity: 90%;
    z-index: 2;
    transform: scaleX(-1);
}

#water {
    width: 1800px;
    height: 800px;
    background-color: #288FEF;
    opacity: 95%;
    position: absolute;
    top: 600px;
    left: -220px;
    border-radius: 50%;
    z-index: 2;



}

#ice {
    width: 1800px;
    height: 800px;
    position: absolute;
    top: 550px;
    left: -225px;
    z-index: 1;
}

#mountain {
    position: absolute;
    top: 175px;
    left: 900px;
}

#sign {
    width: 150px;
    height: 175px;
    position: absolute;
    top: 400px;
    left: 700px;
}
