* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c0920;
}

#container {
    width: 1278px;
    height: 800px;
    background-color: #6698a5;
    position: relative;
    overflow: hidden;
}

/*Characters size and position*/
#pingu {
    width: 185px;
    height: 200px;
    position: absolute;
    top: 420px;
    left: 900px;
    z-index: 2;
}

#glowFish {
    width: 145px;
    height: 170px;
    position: absolute;
    top: 650px;
    left: 900px;
    opacity: 90%;
    z-index: 2;
    transform: scaleX(-1);
    animation: glowfishmovement alternate ease-in-out 5s infinite;
}

#bigfish {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 650px;
    left: 200px;
    opacity: 80%;
    z-index: 2;
}

#mediumfish {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 650px;
    left: 150px;
    opacity: 80%;
    z-index: 2;
}

#smallfish {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 650px;
    left: 150px;
    opacity: 80%;
    z-index: 2;
}

#yellowfish {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 650px;
    left: 180px;
    opacity: 80%;
    z-index: 2;
}

#kenbeth1 {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 350px;
    left: 150px;
    z-index: 2;
}

/*Planets size and position*/
#cityplanet {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 100px;
    left: 100px;
}

#vaykayplanet {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50px;
    left: 375px;
}

#cowboyplanet {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
    left: 700px;
}

#slimeplanet {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 1000px;
    animation: planetmovement alternate 5s infinite;
}

/*Ice planet layout*/
#water {
    width: 1800px;
    height: 800px;
    background-color: #288FEF;
    opacity: 95%;
    position: absolute;
    top: 600px;
    left: -220px;
    border-radius: 50%;
    z-index: 2;
}

#ice {
    width: 1800px;
    height: 800px;
    position: absolute;
    top: 550px;
    left: -225px;
    z-index: 1;
}

#mountain {
    position: absolute;
    top: 175px;
    left: 900px;
}

#sign {
    width: 150px;
    height: 175px;
    position: absolute;
    top: 400px;
    left: 700px;
}

@keyframes glowfishmovement {
    0% {
        top: 650px;
        left: 900px;
    }

    50% {
        top: 645px;
        left: 895px
    }

    100% {
        top: 655px;
        left: 905px
    }

    @keyframes planetmovement {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(150deg);
        }

        50% {
            transform: rotate(0deg);
        }

        75% {
            transform: rotate(-150deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
