* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

#container {
    width: 1278px;
    height: 800px;
    position: relative;
    margin: auto;
    overflow: hidden;
    background-image: radial-gradient(#0F0A28, #0c0920 80%);
    margin-top: 50px;
}



/* Stars */

#stars-container{
    animation: zoom-star-container 8s ease-out forwards;
    position: absolute;
    top: -90px;
}

@keyframes zoom-star-container{
    100%{
        top: 0px;
    }
}



.stars{
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    background: #ffffff;
    box-shadow:
        0 0 1.5px 1px #ffffff, 
        0 0 2.5px 1.5px #ffffff, 
        0 0 3.5px 2.5px #ffffff; 
    
    -webkit-animation: zoom-stars 5s 3s ease-in forwards;
}


@keyframes zoom-stars{
    100%{
    width: 2px;
    height: 2px;
    }
}

#star-1{
    top: 50px;
    left: 50px;
}

#star-2{
    top: 150px;
    left: 120px;
}

#star-3{
    top: 70px;
    left: 250px;
}

#star-4{
    top: 180px;
    left: 380px;
    animation: star-blinking 10s 4s ease-in infinite;
}

#star-5{
    top: 40px;
    left: 510px;
}

#star-6{
    top: 130px;
    left: 680px;
}

#star-7{
    top: 20px;
    left: 790px;
}

#star-8{
    top: 160px;
    left: 930px;
}

#star-9{
    top: 50px;
    left: 1100px;
    animation: star-blinking 10s 7s ease-in infinite;
}

#star-10{
    top: 200px;
    left: 1200px;
}

#star-11{
    top: 420px;
    left: 80px;
}

#star-12{
    top: 300px;
    left: 220px;
    animation: star-blinking 10s 12s ease-in infinite;
}

#star-13{
    top: 375px;
    left: 450px;
}

#star-14{
    top: 280px;
    left: 600px;
}

#star-15{
    top: 350px;
    left: 850px;
    animation: star-blinking 10s 10s ease-in infinite;
}

#star-16{
    top: 300px;
    left: 1050px;
}

#star-17{
    top: 450px;
    left: 1200px;
}

#star-18{
    top: 650px;
    left: 40px;
}

#star-19{
    top: 500px;
    left: 300px;
}

#star-20{
    top: 625px;
    left: 500px;
    animation: star-blinking 10s 6s ease-in infinite;
}

#star-21{
    top: 475px;
    left: 700px;
}

#star-22{
    top: 650px;
    left: 900px;
}

#star-23{
    top: 570px;
    left: 1100px;
    animation: star-blinking 10s 13s ease-in infinite;
}

#star-24{
    top: 700px;
    left: 1250px;
}

#star-25{
    top: 720px;
    left: 270px;
}

#star-26{
    top: 720px;
    left: 700px;
}

@keyframes star-blinking{
    2.5%{
        box-shadow:
        0 0 4.5px 3px #ffffff, 
        0 0 15px 3px #ffffff, 
        0 0 30px 3px #ffffff; 
    }
    5%{    
        width: 2px;
        height: 2px;
        box-shadow:
        0 0 1.5px 1px #ffffff, 
        0 0 2.5px 1.5px #ffffff, 
        0 0 3.5px 2.5px #ffffff;  
    }
}

/* Rocket */

#rocket{
    width: 70px;
    height: 70px;
    top: 450px;
    left: -70px;
    position: absolute;
    transform: rotate(15deg);
    
    animation: rocket-flying 30s 8s ease-in-out infinite;
}

@keyframes rocket-flying{
    100%{
        top: -70px;
        left: 1100px;
        
    }
}


/* Planets */

.planet{
    position: absolute;
    border-radius: 100%; 
}


/* Planet Ice */


#planet-ice{
    width: 150px;
    height: 150px;
    top: 350px;
    left: 250px;
    background: linear-gradient(270deg, #00c5cc, #3285d3);
    overflow: hidden;
    
    animation: zoom-planet-ice 8s ease-in forwards;
}

@keyframes zoom-planet-ice{
    100%{
        width: 500px;
        height: 500px;
        top: 600px;
        left: -150px;
    }
}

#planet-ice-structure{
    width: 500px;
    height: 200px;
    position: absolute;
    opacity: 0.6;
    top: 0px;
    left: -200px;
    
    animation: planet-rotate 30s 8s linear infinite;
}
    



/* Planet city */

#planet-city{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to right, #415a77, #415a77);
    top: 230px;
    left: 450px;
    overflow: hidden;
    
    animation: zoom-planet-city 8s ease-in forwards;
}
    
@keyframes zoom-planet-city{
    100%{
        width: 200px;
        height: 200px;
        top: 450px;
        left: 300px;
    }
}

#planet-city-structure{
    width: 160px;
    height: 130px;
    position: absolute;
    top: 30px;
    left: -160px;
    transform: rotate(15deg);
    
    animation: planet-rotate 13s 0.5s linear infinite;
}




/* Planet Vacay */

#planet-vacay{
    width: 70px;
    height: 70px;
    background-image: radial-gradient(#f6d2da, #fcc9d1);
    top: 170px;
    left: 600px;
    overflow: hidden;
    
    animation: zoom-planet-vacay 8s ease-in forwards;
}

@keyframes zoom-planet-vacay{
    100%{
        width: 130px;
        height: 130px;
        top: 320px;
        left: 520px;
    }
}

#planet-vacay-structure{
    width: 300px;
    height: 80px;
    position: absolute;
    opacity: 0.7;
    left: -200px;
    top: 20px;
    transform: rotate(-40deg);
    
    animation: planet-rotate 15s linear infinite;
}



/* Planet cowboy */

#planet-cowboy{
    width: 50px;
    height: 50px;
    background-image: radial-gradient(#faff81, #ffc53a);
    top: 100px;
    left: 800px;
    overflow: hidden;
    
    animation: zoom-planet-cowboy 8s ease-in forwards;
}

@keyframes zoom-planet-cowboy{
    100%{
        width: 90px;
        height: 90px;
        top: 230px;
        left: 930px;
    }
}

#planet-cowboy-structure{
    width: 280px;
    height: 40px;
    position: absolute;
    opacity: 0.8;
    bottom: 0px;
    left: -280px;
    transform: rotate(-15deg);
    
    animation: planet-rotate 10s linear infinite;
}




/* Planet Slime */

#planet-slime{
    width: 80px;
    height: 80px;
    background-image: radial-gradient(#ddf45b, #32bc35);
    top: 150px;
    left: 950px;
    overflow: hidden;
    
    animation: zoom-planet-slime 8s ease-in forwards;
}

@keyframes zoom-planet-slime{
    100%{
        width: 150px;
        height: 150px;
        top: 350px;
        left: 1100px;
    }
}

#planet-slime-structure{
    width: 250px;
    height: 50px;
    position: absolute;
    opacity: 0.8;
    left: -200px;
    bottom: 50px;
    transform: rotate(40deg);
    

    animation: planet-rotate 9s linear infinite;
}




@keyframes planet-rotate{
    100%{
        transform: translateX(350px);
    }
    
}

#slime-image{
    top: 350px;
    left: 110px;
    position: absolute;
}

#planet-slime:hover{
    transform: scale(1.5);

}

#hk{
    width: 125px;
    height: 200px;
    position: absolute;
    top: 1000px;
    right: -125px;
    
    animation: hk-coming 8s ease-out forwards,
               hk-hovering 3.5s 8s linear infinite;
}



@keyframes hk-coming{
    100%{
        top: 400px;
        right: 360px;
        transform: scale(2);
    }
}


@keyframes hk-hovering{                                 
    0%{
        top: 400px;   
    }
    40%{
        top: 450px;
    }
    100%{
        top: 400px;

    }
}










