* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

/* Main container */
#container {
    width: 1278px;
    height: 800px;
    position: relative;
    background-image: linear-gradient(#364A7B, #A8A8A6, #364A7B);
    margin: auto;
    overflow: hidden;
    margin-top: 50px;
    z-index: 0;
}

#milkyway {
    width: 1278px;
    height: 800px;
    position: absolute;
    z-index: 1;
}

#shooting-star {
    width: 150px;
    height: 150px;
    position: absolute;
    margin-top: -200px;
    margin-left: 1300px;
    opacity: 0.7;
    z-index: 0;
    animation: shootingstar-move 7s ease-in-out infinite;
}

/* Kenbeth */
#kenbeth-fly {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 150px;
    left: -340px;
    z-index: 2;
    animation: kenbeth-landing 3s linear 1s forwards;
}

#stop {
    width: 130px;
    height: 140px;
    position: absolute;
    top: 255px;
    left: 585px;
    z-index: 2;
}

#platform {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 300px;
    left: 200px;
    transform: rotate(-18deg);
    transform: scaleX(-1);
    z-index: 1;
}

#sign {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 475px;
    left: 365px;
    z-index: 3;
}

#sign:hover {
    width: 120px;
    height: 120px;
    top: 455px;
    left: 355px;
}

/* Thinking bubble + text */
#thinking-bubble {
    margin-top: 80px;
    margin-left: 330px;
    transform: scaleX(-1);
    opacity: 0;
    animation: bubble-appear 7s 3s linear 1;
}

#thinking-bubble2 {
    margin-top: 70px;
    margin-left: 430px;
    opacity: 0;
    animation: bubble-appear 5s 11s linear 1;
}

.bubbles {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 4;
}

#start-text {
    top: 170px;
    left: 455px;
    z-index: 6;
    animation-delay: 3s;
}

#del1-text {
    top: 170px;
    left: 435px;
    z-index: 7;
    animation-delay: 7s;
}

#del2-text {
    top: 180px;
    left: 505px;
    z-index: 8;
    font-size: 25px;
    animation-delay: 12s;
}

.texts {
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-family: arial;
    color: #2c2c2c;
    position: absolute;
    opacity: 0;
    z-index: 6;
    animation: text-animation 3s 1;
}

/* Floating objects */
#bicycle{
    width: 75px;
    height: 30px;
    top: 330px;
    left: 960px;
}

#satellite {
    width: 30px;
    height: 50px;
    top: 370px;
    left: 1050px;
}

#asteroid {
    width: 70px;
    height: 70px;
    top: 260px;
    left: 1100px;
}

#glowfish {
    width: 50px;
    height: 50px;
    top: 240px;
    left: 860px;
}

#welcome {
    width: 120px;
    height: 70px;
    top: 440px;
    left: 850px;
}

#beach-ball {
    width: 20px;
    height: 20px;
    top: 400px;
    left: 1180px;
}

#cow {
    width: 70px;
    height: 70px;
    top: 230px;
    left: 1220px;
}

#books {
    width: 50px;
    height: 50px;
    top: 500px;
    left: 1200px;
}

#bird {
    width: 50px;
    height: 50px;
    top: 450px;
    left: 1090px;
}

#spiderman {
    width: 60px;
    height: 60px;
    top: 200px;
    left: 990px;
}

#backpack {
    width: 20px;
    height: 20px;
    top: 530px;
    left: 1050px;
}

.floating-stuff{
    position: absolute;
    z-index: 2;
    animation: floating-tilt 10s linear infinite alternate-reverse;
}

/* Planets */

#planet-city{
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 100%;
    background-image: linear-gradient(to right, #415a77, #415a77);
    top: 120px;
    left: -200px;
    overflow: hidden;
    z-index: 1;
}

#planet-city-structure{
    width: 260px;
    height: 230px;
    position: absolute;
    top: 30px;
    left: -160px;
    transform: rotate(15deg);
    animation: planet-rotate 13s 0.5s linear infinite;
}

#planet-vacay{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 100%;
    background-image: radial-gradient(#f6d2da, #fcc9d1);
    top: 330px;
    left: 1210px;
    overflow: hidden;
    z-index: 2;
}

#planet-vacay-structure{
    width: 300px;
    height: 80px;
    position: absolute;
    opacity: 0.7;
    left: -200px;
    top: 20px;
    transform: rotate(-40deg);
    animation: planet-rotate 15s linear infinite;
}

@keyframes floating-tilt {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(10deg);}
    50% {transform: rotate(0deg);}
    100% {transform: rotate(-10deg);}
}

@keyframes planet-rotate {
    100%{transform: translateX(350px);}
}

@keyframes shootingstar-move {
    0% {transform: translate(0, 0) rotate(-15deg);}
    100% {transform: translate(-1100px, 1000px) rotate(-15deg);}
}

@keyframes kenbeth-landing {
    0% {visibility: hidden;}
    100% {visibility: visible; top: 250px; left: 300px;}
}
@keyframes bubble-appear {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes text-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}