* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

/* Main Container */
.container {
    width: 1278px;
    height: 800px;
    top: 50px;
    position: relative;
    margin: auto;
    background-color: #0c0920;
    overflow: hidden;
    z-index: 0;
}

/* Chat bubbles & Text*/
.text {
    position: absolute;
    z-index: 6;
    opacity: 0;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    animation: chat-bubble-kenbeth 1s 1.5s linear forwards, chat-bubble-hovering 2s 1s infinite;
}

.chat-bubbles {
    position: absolute;
    z-index: 5;
    opacity: 0;
}

#chat-bubble-slime {
    top: 260px;
    left: 230px;
    width: 500px;
    height: 300px;
    animation: chat-bubble-kenbeth 0.3s 6s linear forwards;
}

#chat-bubble-kenbeth {
    top: 150px;
    left: 590px;
    width: 500px;
    height: 300px;
    transform: scaleX(-1);
    animation: chat-bubble-kenbeth 0.3s 8.5s linear forwards;
}

/* Script */
#slime-script-1 {
    /* First talk bubble */
    width: 360px;
    height: 200px;
    top: 370px;
    left: 250px;
    animation: kenbeth-script-1 2.5s 6.7s linear;
}

#kenbeth-script-1 {
    /* Second talk bubble */
    width: 300px;
    height: 200px;
    top: 270px;
    left: 710px;
    animation: kenbeth-script-1 4.5s 9.2s linear;
}

#slime-script-2 {
    /* Third talk bubble */
    width: 360px;
    height: 200px;
    top: 370px;
    left: 250px;
    animation: kenbeth-script-1 4.5s 12.5s linear;
}

#professor-script-1 {
    /* Fourth talk bubble */
    width: 300px;
    height: 200px;
    top: 170px;
    left: 480px;
    animation: kenbeth-script-1 4.5s 17s linear forwards;
}

/* Images */
#exclamation-mark {
    position: absolute;
    width: 0px;
    top: 510px;
    right: 280px;
    z-index: 6;
    animation: exclamation-mark 1.2s 2s linear ease-out;
}

#slime-wall {
    width: 1278px;
    height: 800px;
    position: absolute;
    margin-left: 0px;
    z-index: 2;
}

/* Ground */
#slime-ground {
    width: 1500px;
    height: 600px;
    position: absolute;
    margin: auto;
    background: linear-gradient(#76f91f, #ddf45b);
    border: 5px solid #ddf45b;
    border-radius: 50%;
    bottom: -300px;
    left: -100px;
    z-index: 3;
}

/* Ground Details */
.slime-bubbles {
    position: absolute;
    border: 2px solid #ddf45b;
    background-color: #32bc35;
    border-radius: 50%;
    z-index: 4;
}

#slime-bubble-1 {
    width: 120px;
    height: 45px;
    transform: rotate(-18deg);
    bottom: 95px;
    left: 30px;
}

#slime-bubble-2 {
    width: 150px;
    height: 30px;
    transform: rotate(-14deg);
    bottom: 200px;
    left: 180px;
}

#slime-bubble-3 {
    width: 220px;
    height: 90px;
    transform: rotate(-10deg);
    bottom: 50px;
    left: 200px;
}

#slime-bubble-4 {
    width: 120px;
    height: 50px;
    transform: rotate(-5deg);
    border-radius: 50%;
    bottom: 150px;
    left: 450px;
}

#slime-bubble-5 {
    width: 180px;
    height: 30px;
    transform: rotate(-4deg);
    border-radius: 50%;
    bottom: 250px;
    left: 450px;
}

#slime-bubble-6 {
    width: 260px;
    height: 150px;
    transform: rotate(4deg);
    border-radius: 50%;
    bottom: -80px;
    left: 700px;
}

#slime-bubble-7 {
    width: 400px;
    height: 80px;
    transform: rotate(6deg);
    border-radius: 50%;
    bottom: 170px;
    left: 700px;
}

/* Character & npc */
#kenbeth-landing {
    width: 400px;
    top: -400px;
    position: absolute;
    left: 950px;
    transform: scaleX(-1);
    z-index: 5;
    -webkit-animation: kenbeth-landing 3s ease-out 1;
}

#kenbeth-walking {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 920px;
    top: 350px;
    visibility: hidden;
    z-index: 6;
    -webkit-animation: kenbeth-walk 3s 3s linear forwards;
}

#slime-clone {
    width: 200px;
    height: 200px;
    position: absolute;
    left: -200px;
    bottom: 150px;
    z-index: 6;
    -webkit-animation: clone-walk 3s 3s ease-out forwards;
}

/* Alien UFO with professor */
#ufo-alien {
    width: 350px;
    height: 220px;
    position: absolute;
    top: 70px;
    left: 450px;
    z-index: 2;
}

#ufo {
    width: 200px;
    height: 142px;
    top: 50px;
    left: 0px;
    position: absolute;
    transform: rotate(-20deg);
}

#alien {
    width: 90px;
    height: 150px;
    top: 0px;
    left: 135px;
    position: absolute;
}

#marge {
    width: 87px;
    height: 180px;
    top: 35px;
    left: 225px;
    position: absolute;
    transform: rotate(-30deg);
}

@keyframes kenbeth-landing {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
        top: 320px;
        left: 850px;
    }
}

@keyframes kenbeth-walk {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@keyframes clone-walk {
    0% {
        left: -200px;
    }
    100% {
        left: 120px;
    }
}

/* Stars */
#stars-container {
    animation: zoom-star-container 8s ease-out forwards;
    position: absolute;
    top: -90px;
}

.stars {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    background: #ffffff;
    box-shadow: 0 0 1.5px 1px #ffffff, 0 0 2.5px 1.5px #ffffff, 0 0 3.5px 2.5px #ffffff;

    animation: zoom-stars 5s 3s ease-in forwards;
}

#star-1 {
    top: 50px;
    left: 50px;
}

#star-2 {
    top: 150px;
    left: 120px;
}

#star-3 {
    top: 70px;
    left: 250px;
}

#star-4 {
    top: 180px;
    left: 380px;
    animation: star-blinking 10s 4s ease-in infinite;
}

#star-5 {
    top: 40px;
    left: 510px;
}

#star-6 {
    top: 130px;
    left: 680px;
}

#star-7 {
    top: 20px;
    left: 790px;
}

#star-8 {
    top: 160px;
    left: 930px;
}

#star-9 {
    top: 50px;
    left: 1100px;
    animation: star-blinking 10s 7s ease-in infinite;
}

#star-10 {
    top: 200px;
    left: 1200px;
}

#star-11 {
    top: 420px;
    left: 80px;
}

#star-12 {
    top: 300px;
    left: 220px;
    animation: star-blinking 10s 12s ease-in infinite;
}

#star-13 {
    top: 375px;
    left: 450px;
}

#star-14 {
    top: 280px;
    left: 600px;
}

#star-15 {
    top: 350px;
    left: 850px;
    animation: star-blinking 10s 10s ease-in infinite;
}

#star-16 {
    top: 300px;
    left: 1050px;
}

#star-17 {
    top: 450px;
    left: 1200px;
}

#star-18 {
    top: 650px;
    left: 40px;
}

#star-19 {
    top: 500px;
    left: 300px;
}

#star-20 {
    top: 625px;
    left: 500px;
    animation: star-blinking 10s 6s ease-in infinite;
}

#star-21 {
    top: 475px;
    left: 700px;
}

#star-22 {
    top: 650px;
    left: 900px;
}

#star-23 {
    top: 570px;
    left: 1100px;
    animation: star-blinking 10s 13s ease-in infinite;
}

#star-24 {
    top: 700px;
    left: 1250px;
}

#star-25 {
    top: 720px;
    left: 270px;
}

#star-26 {
    top: 720px;
    left: 700px;
}

@keyframes star-blinking {
    2.5% {
        box-shadow: 0 0 4.5px 3px #ffffff, 0 0 15px 3px #ffffff, 0 0 30px 3px #ffffff;
    }
    5% {
        width: 2px;
        height: 2px;
        box-shadow: 0 0 1.5px 1px #ffffff, 0 0 2.5px 1.5px #ffffff, 0 0 3.5px 2.5px #ffffff;
    }
}

/* Background Slime */
.background-slime {
    position: absolute;
    width: 10px;
    height: 50px;
    border-radius: 40%;
    border: 1px solid #ddf45b;
    background-color: #32bc35;
    z-index: 1;
}

#background-slime-1 {
    animation: bubble-1 5s infinite both;
}

#background-slime-2 {
    animation: bubble-2 5s 7s infinite both;
}

#background-slime-3 {
    animation: bubble-3 5s 5s infinite both;
}

#background-slime-4 {
    animation: bubble-4 5s 3s infinite both;
}

#background-slime-5 {
    animation: bubble-5 5s 6s infinite both;
}

#background-slime-6 {
    animation: bubble-6 5s 0.5s infinite both;
}

#background-slime-7 {
    animation: bubble-7 5s 2.7s infinite both;
}

#background-slime-8 {
    animation: bubble-8 5s 4s infinite both;
}

#background-slime-9 {
    animation: bubble-9 5s 7.5s infinite both;
}

#background-slime-10 {
    animation: bubble-10 5s 1.5s infinite both;
}

@keyframes bubble-1 {
    0% {
        transform: scale(1) rotate(110deg);
        left: -100px;
        top: 0px;
    }
    100% {
        transform: scale(0) rotate(90deg);
        left: 620px;
        top: 180px;
    }
}

@keyframes bubble-2 {
    0% {
        transform: scale(1) rotate(90deg);
        left: -100px;
        top: 150px;
    }
    100% {
        transform: scale(0) rotate(90deg);
        left: 620px;
        top: 180px;
    }
}

@keyframes bubble-3 {
    0% {
        transform: scale(1) rotate(78deg);
        left: -100px;
        top: 280px;
    }
    100% {
        transform: scale(0) rotate(90deg);
        left: 620px;
        top: 180px;
    }
}

@keyframes bubble-4 {
    0% {
        transform: scale(1) rotate(72deg);
        left: -100px;
        top: 380px;
    }
    100% {
        transform: scale(0) rotate(80deg);
        left: 620px;
        top: 180px;
    }
}

@keyframes bubble-5 {
    0% {
        transform: scale(1) rotate(-20deg);
        left: 550px;
        top: 0px;
    }
    100% {
        transform: scale(0) rotate(-12deg);
        left: 620px;
        top: 180px;
    }
}

@keyframes bubble-6 {
    0% {
        transform: scale(1) rotate(-8deg);
        left: 680px;
        top: 350px;
    }
    100% {
        transform: scale(0) rotate(-18deg);
        left: 620px;
        top: 180px;
    }
}

@keyframes bubble-7 {
    0% {
        transform: scale(1) rotate(55deg);
        left: 900px;
        top: 0px;
    }
    100% {
        transform: scale(0) rotate(50deg);
        left: 620px;
        top: 180px;
    }
}

@keyframes bubble-8 {
    0% {
        transform: scale(1) rotate(90deg);
        left: 1300px;
        top: 150px;
    }
    100% {
        transform: scale(0) rotate(90deg);
        left: 620px;
        top: 180px;
    }
}

@keyframes bubble-9 {
    0% {
        transform: scale(1) rotate(102deg);
        left: 1300px;
        top: 280px;
    }
    100% {
        transform: scale(0) rotate(90deg);
        left: 620px;
        top: 180px;
    }
}

@keyframes bubble-10 {
    0% {
        transform: scale(1) rotate(110deg);
        left: 1300px;
        top: 380px;
    }
    100% {
        transform: scale(0) rotate(90deg);
        left: 620px;
        top: 180px;
    }
}

/* Black hole */
#black-hole {
    width: 600px;
    margin-top: -65px;
    margin-left: 325px;
    z-index: 1;
    animation: black-hole-tilt 30s linear infinite both;
    -webkit-animation: black-hole-tilt 30s linear infinite both;
}

@keyframes black-hole-tilt {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/* Chat bubbles */
@keyframes kenbeth-script-1 {
    /* First talk bubble appear */
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes chat-bubble-kenbeth {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Triggers */
#slime-bubble-1:hover {
    width: 140px;
    height: 50px;
    bottom: 95px;
    left: 23px;
}

#slime-bubble-2:hover {
    width: 170px;
    height: 40px;
    bottom: 195px;
    left: 170px;
}

#slime-bubble-3:hover {
    width: 240px;
    height: 100px;
    bottom: 45px;
    left: 193px;
}

#slime-bubble-4:hover {
    width: 140px;
    height: 60px;
    bottom: 145px;
    left: 443px;
}

#slime-bubble-5:hover {
    width: 200px;
    height: 40px;
    bottom: 245px;
    left: 443px;
}

#slime-bubble-6:hover {
    width: 280px;
    height: 160px;
    bottom: -85px;
    left: 690px;
}

#slime-bubble-7:hover {
    width: 420px;
    height: 90px;
    bottom: 165px;
    left: 690px;
}
