* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

/* Main container */
#container {
    width: 1278px;
    height: 800px;
    position: relative;
    margin: auto;
    background-color: #0c0920;
    overflow: hidden;
    margin-top: 50px;
}

/* Sand */
#main-land {
    width: 1450px;
    height: 800px;
    position: absolute;
    border-radius: 100%;
    margin-top: 450px;
    margin-left: -86px;
    background-color: #FCA1AF;
    overflow: hidden;
    z-index: 1;
}

/* Waves 1-3 */
#wave-0 {
    margin-top: 590px;
    margin-left: -36px;
    opacity: 0.8;
    z-index: 2;
}

#wave-1 {
    margin-top: 605px;
    margin-left: -36px;
    opacity: 0.6;
    z-index: 4;
    animation-name: wave-move;
    animation-delay: 3s;
}

#wave-2 {
    margin-top: 630px;
    margin-left: -26px;
    opacity: 0.2;
    z-index: 5;
    animation-name: wave-move;
    animation-delay: 1.5s;
}

.waves {
    width: 1500px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    animation-name: wave-move ;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
    animation-direction: alternate-reverse;
}

/* Animation Waves */
@keyframes wave-move {
    0% {transform: translateX(0) translateY(0) scaleY(1;)}
    0% {transform: translateX(-10%) translateY(0) scaleY(.5);}
    0% {transform: translateX(10) translateY(0) scaleY(1);}
}

/* Beach Elements */
#beach-ball {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 500px;
    margin-left: 200px;
    z-index: 4;
}

#shell {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 625px;
    margin-left: 1050px;
    z-index: 5;
}

/* Shell Hover, disapears*/
#shell:hover{
   opacity: 0;
}

#fish {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 680px;
    margin-left: 700px;
    z-index: 3;
    animation-name: fish-swim;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Fish Animation */
@keyframes fish-swim {
    0% {transform: translateX(-100%) translateY(20%);}
    25% {transform: translateX(-90%) translateY(5%);}
    50% {transform: translateX(-60%) translateY(20%);}
    75% {transform: translateX(-30%) translateY(5%);}
    100% {transform: translateX(-10%) translateY(20%);}
}

@keyframes fish-text {
    
}

#shell-text {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 625px;
    margin-left: 1050px;
    opacity: 0.5;
    z-index: 4; 
}

/* Sea plants */

.sea-plants {
    width: 100px;
    height: 200px;
    position: absolute;
    z-index: 3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

#sea-plant {
    margin-left: -25px;
    margin-top: 670px;
    animation-name: seaplant-move;
}

#sea-plant2 {
    margin-left: 10px;
    margin-top: 680px;
    animation-name: seaplant-move2;
}

#sea-plant3 {
    margin-left: 40px;
    margin-top: 665px;
    animation-name: seaplant-move;
}

#sea-plant4 {
    margin-left: 75px;
    margin-top: 685px;
    margin-top: 685px;
    animation-name: seaplant-move2;
}

/* Seaplant Animation */

@keyframes seaplant-move {
    0%, 100% {transform: rotate(9deg);}
    50% {transform: rotate(-9deg);}
}

@keyframes seaplant-move2 {
    0%, 100% {transform: rotate(-6deg);}
    50% {transform: rotate(6deg);}
}

