* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

/* Main container */
#container {
    width: 1278px;
    height: 800px;
    position: relative;
    margin: auto;
    background-image: linear-gradient(#0c0920, #2e2857);
    overflow: hidden;
    margin-top: 50px;
}

/* Stars */
#stars-container{
    animation: zoomStarContainer 5s ease-out forwards;
    position: absolute;
    top: 0px;
}

.stars{
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    background-color: #ffffff;
    box-shadow:
        0 0 5px 1px #ffffff, 
        0 0 5px 1px #ffffff, 
        0 0 3px 1px #ffffff; 
    z-index: 0;
}

#star-1{
    top: 50px;
    left: 50px;
    animation: star-blinking 10s 5s ease-in infinite;
}

#star-2{
    top: 150px;
    left: 120px;
}

#star-3{
    top: 70px;
    left: 250px;
}

#star-4{
    top: 180px;
    left: 380px;
}

#star-5{
    top: 40px;
    left: 510px;
    animation: star-blinking 10s 10s ease-in infinite;
}

#star-6{
    top: 130px;
    left: 680px;
}

#star-7{
    top: 20px;
    left: 790px;
}

#star-8{
    top: 160px;
    left: 930px;
}

#star-9{
    top: 50px;
    left: 1100px;
    animation: star-blinking 10s 7s ease-in infinite;
}

#star-10{
    top: 200px;
    left: 1200px;
}

#star-11{
    top: 420px;
    left: 80px;
}

#star-12{
    top: 300px;
    left: 220px;
    animation: star-blinking 10s 3s ease-in infinite;
}

#star-13{
    top: 375px;
    left: 450px;
}

#star-14{
    top: 280px;
    left: 600px;
}

#star-15{
    top: 350px;
    left: 850px;
}

#star-16{
    top: 300px;
    left: 1050px;
}

#star-17{
    top: 450px;
    left: 1200px;
    animation: star-blinking 10s 1s ease-in infinite;
}

#star-18{
    top: 650px;
    left: 40px;
}

#star-19{
    top: 500px;
    left: 300px;
}

#star-20{
    top: 625px;
    left: 500px;
}

#star-21{
    top: 475px;
    left: 700px;
}

#star-22{
    top: 650px;
    left: 900px;
}

#star-23{
    top: 570px;
    left: 1100px;
    animation: star-blinking 10s 8s ease-in infinite;
}

#star-24{
    top: 700px;
    left: 1250px;
}

#star-25{
    top: 720px;
    left: 270px;
}

#star-26{
    top: 720px;
    left: 700px;
}

/* Planetene */
.planet{
    position: absolute;
    border-radius: 100%;
}

#planet-cowboy{
    width: 300px;
    height: 300px;
    background-image: radial-gradient(#faff81, #ffc53a);
    margin-top: 100px;
    margin-left: 750px;
    overflow: hidden;
    z-index: 3;
}

#planet-cowboy-structure{
    width: 500px;
    height: 200px;
    position: absolute;
    margin-bottom: 0px;
    animation: planet-rotate 20s linear infinite;
}

#planet-slime{
    width: 200px;
    height: 200px;
    background-image: radial-gradient(#ddf45b, #32bc35);
    margin-top: 50px;
    margin-left: 1100px;
    overflow: hidden;
    z-index: 1;
}

#planet-slime-structure{
    width: 100px;
    height: 200px;
    position: absolute;
    margin-bottom: -50px;
    margin-right: 0px;
    opacity: 0.8;
    animation: planet-rotate 20s linear infinite;
}

.link {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 4;
}

/* Sand */
#main-land {
    width: 1450px;
    height: 800px;
    position: absolute;
    border-radius: 100%;
    margin-top: 450px;
    margin-left: -86px;
    background-color: #fca1af;
    overflow: hidden;
    z-index: 1;
}

/* Waves 1-3 */
#wave-0 {
    margin-top: 590px;
    margin-left: -36px;
    opacity: 0.8;
    z-index: 2;
}

#wave-1 {
    margin-top: 605px;
    margin-left: -36px;
    opacity: 0.6;
    z-index: 4;
    animation-delay: 3s;
}

#wave-2 {
    margin-top: 630px;
    margin-left: -26px;
    opacity: 0.2;
    z-index: 5;
    animation-delay: 1.5s;
}

.waves {
    width: 1500px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    animation: wave-move 4s ease-in-out infinite alternate-reverse;
}

/* Beach Elements */
#beach-ball {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 530px;
    margin-left: 20px;
    z-index: 3;
    animation: ball-rolling 1s linear 1 forwards paused;
}

/* Beach ball active(Start animation, rolls off)*/
#beach-ball:active {
    animation-play-state: running;
}

#beach-tools {
    width: 140px;
    height: 140px;
    position: absolute;
    margin-top: 440px;
    margin-left: 970px;
    z-index: 5;
}

/* Shell related */
#shell {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 625px;
    margin-left: 1050px;
    z-index: 5;
}

/* Shell Hover, disapears*/
#shell:hover{
   opacity: 0;
}

#shell-text {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 625px;
    margin-left: 1050px;
    opacity: 0.5;
    z-index: 4; 
}

/* Crab */
#crab {
    width: 100px;
    height: 200px;
    position: absolute;
    margin-top: 850px;
    margin-left: 270px;
    opacity: 0.7;
    z-index: 4;
    animation: crab-move 6s ease-in-out alternate infinite;
}

/* Fish related*/
#fish {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 680px;
    margin-left: 700px;
    opacity: 0.5;
    z-index: 6;
}

#text-bubble {
    width: 230px;
    height: 230px;
    position: absolute;
    margin-top: 500px;
    margin-left: 605px;
    opacity: 0;
    z-index: 5;
}

/* Active on fish for text(Hint) */
#fish:active ~#text-bubble {
    opacity: 1;
}

.animation-swim {
    animation: fish-swim 8s ease-in-out infinite alternate;
}

/* Sea decorations*/

/* Sea plants */
.sea-plants {
    width: 100px;
    height: 200px;
    position: absolute;
    z-index: 3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

#sea-plant {
    margin-top: 670px;
    margin-left: -25px;
    animation-name: seaplant-move;
}

#sea-plant2 {
    margin-top: 680px;
    margin-left: 10px;
    animation-name: seaplant-move2;
}

#sea-plant3 {
    margin-top: 665px;
    margin-left: 40px;
    animation-name: seaplant-move;
}

#sea-plant4 {
    margin-top: 685px;
    margin-left: 75px;
    animation-name: seaplant-move2;
}

/* Palm tree */
#palm-root {
    width: 400px;
    height: 500px;
    position: absolute;
    margin-top: 120px;
    margin-left: -5px;
    z-index: 0;
}

#palm-leaf {
    width: 400px;
    height: 500px;
    position: absolute;
    margin-top: 120px;
    margin-left: -5px;
    z-index: 1;
    animation: palm-move 3s infinite;
}

#coconut {
    width: 100px;
    height: 100px;
    margin-top: 250px;
    animation: coconut-fall 2s 10.5s ease-in-out 1;
}

#coconut-split {
    width: 80px;
    height: 80px;
    margin-top: 500px;
    animation: coconut-split 3s 11.2s forwards;
}

.coconuts {
    position: absolute;
    margin-left: 170px;
    opacity: 0;
    z-index: 6;
}

/* Main Character */
#main-character {
    width: 300px;
    height: 300px;
    position: absolute;
    margin-top: 300px;
    margin-left: 300px;
    z-index: 5;
    animation: main-dance 4s 28.5s infinite;
}

#thinking-bubble {
    width: 300px;
    height: 300px;
    position: absolute;
    margin-top: 130px;
    margin-left: 460px;
    opacity: 0;
    z-index: 5;
    animation: bubble-appear 10s 1s forwards;
}

#start-text {
    margin-top: 230px;
    z-index: 6;
    animation-delay: 2s;
}

#del1-text {
    margin-top: 230px;
    z-index: 7;
    animation-delay: 7s;
}

#del2-text {
    margin-top: 250px;
    z-index: 8;
    font-size: 25px;
    animation-delay: 12s;
}

#del3-text {
    margin-top: 250px;
    z-index: 9;
    animation-delay: 17s;
}

#del4-text {
    margin-top: 227px;
    z-index: 10;
    animation-delay: 22s;
}

#slutt-text {
    margin-top: 240px;
    z-index: 11;
    animation-delay: 27s; 
    animation-fill-mode: forwards;
}

.texts {
    width: 100px;
    margin-left: 540px;
    text-align: center;
    font-size: 20px;
    font-family: arial;
    color: #2c2c2c;
    position: absolute;
    opacity: 0;
    z-index: 6;
    animation: text-animation 5s 1;
}

/* Background animations */
#spaceship {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: 200px;
    margin-left: 1300px;
    opacity: 0.4;
    z-index: 2;
    animation: spaceship-fly 5s 2s ease-in-out 1;
}

#shooting-star {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: -200px;
    margin-left: 1300px;
    opacity: 0.7;
    z-index: 0;
    animation: shootingstar-move 7s ease-in-out infinite;
}

/* ANIMATIONS */

@keyframes star-blinking{
    2.5%{
        box-shadow:
        0 0 4.5px 3px #ffffff, 
        0 0 15px 3px #ffffff, 
        0 0 30px 3px #ffffff; 
    }
    5%{    
        width: 2px;
        height: 2px;
        box-shadow:
        0 0 1.5px 1px #ffffff, 
        0 0 2.5px 1.5px #ffffff, 
        0 0 3.5px 2.5px #ffffff;  
    }
}

@keyframes planet-rotate{
    100% {transform: translateX(350px);}  
}

/* Animation Waves */
@keyframes wave-move {
    0% {transform: translateX(0) translateY(0) scaleY(1;)}
    0% {transform: translateX(-10%) translateY(0) scaleY(.5);}
    0% {transform: translateX(10) translateY(0) scaleY(1);}
}

/* Animation Ball */
@keyframes ball-rolling {
     0% {transform: translate(0px, 0px) rotate(0deg);}
    100% {transform: translate(-100px, 190px) rotate(-300deg);}
} 

@keyframes crab-move {
    0% {transform: translateY(0);}
    100% {transform: translateY(-170px);}
}

/* Fish Animation */
@keyframes fish-swim {
    0% {transform: translateX(-100%) translateY(20%);}
    25% {transform: translateX(-90%) translateY(5%);}
    50% {transform: translateX(-60%) translateY(20%);}
    75% {transform: translateX(-30%) translateY(5%);}
    100% {transform: translateX(-10%) translateY(20%);}
}

/* Seaplant Animation */
@keyframes seaplant-move {
    0%, 100% {transform: rotate(9deg);}
    50% {transform: rotate(-9deg);}
}

@keyframes seaplant-move2 {
    0%, 100% {transform: rotate(-6deg);}
    50% {transform: rotate(6deg);}
}

/* Palm tree animation */
@keyframes palm-move {
    0%, 100% {transform: rotate(3deg);}
    50% {transform: rotate(0deg);}
}

/* Coconut animations */
@keyframes coconut-fall {
    0% {opacity: 0.9; margin-top: 250px;}
    100% {opacity: 0; margin-top: 490px;}
}

@keyframes coconut-split {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Dance Animation */
@keyframes main-dance {
    0% {transform: translate(1px, 1px) rotate(0deg);}
  10% {transform: translate(-1px, -2px) rotate(-1deg);}
  20% {transform: translate(-3px, 0px) rotate(1deg);}
  30% {transform: translate(3px, 2px) rotate(0deg);}
  40% {transform: translate(1px, -1px) rotate(1deg);}
  50% {transform: translate(-1px, 2px) rotate(-1deg);}
  60% {transform: translate(-3px, 1px) rotate(0deg);}
  70% {transform: translate(3px, 1px) rotate(-1deg);}
  80% {transform: translate(-1px, -1px) rotate(1deg);}
  90% {transform: translate(1px, 2px) rotate(0deg);}
  100% {transform: translate(1px, -2px) rotate(-1deg);}
}

@keyframes bubble-appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes text-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes spaceship-fly {
    0% {transform: translate(500px, -30px) rotate(0deg);}
    25% {transform: translate(-200px, -50px) rotate(-30deg);}
    45% {transform: translate(-400px, -30px) rotate(20deg);}
    50% {transform: translate(-600px, -50px) rotate(-10deg);}
    75% {transform: translate(-800px, -80px) rotate(20deg);}
    85% {transform: translate(-1000px, -50px) rotate(-30deg);}
    100%{transform: translate(-1450px, -80px) rotate(40deg);}
}

@keyframes shootingstar-move {
    0% {transform: translate(0, 0) rotate(-15deg);}
    30% {transform: translate(-1100px, 700px) rotate(-15deg);}
    50% {transform: translate(-1100px, 700px) rotate(-15deg);}
    80% {transform: translate(-1100px, 700px) rotate(-15deg);}
    100% {transform: translate(-1100px, 700px) rotate(-15deg);}
}