/* The elements and their properties */


body{
    background-color: rgb(252, 247, 251);
}

#container{                                                 /* Main Container */
    position: relative;
    margin: auto;
    width: 1200px;
    height: 800px;
    border: 3px solid black;
    background-image: url("../Images/indexbackground.png"), linear-gradient(#F6ADCD, lightyellow);
    background-size: cover;
    overflow: hidden;
}

.interactive-elements{                                  /* Giving interactive elements class position */
    position: absolute;
}

#powerpuff-girls-box{                                   /* Powerpuff girls box with image and headings with names */
    position: absolute;
    width: 400px;
    height: 280px;
    bottom: -300px;
    left: 400px;
    z-index: 1;
    animation: powerpuffFlying 3s ease-out forwards,
               powerpuffUpDown 3.5s 3s linear infinite;
}

#powerpuff-girls-img{                                   /* Size of powerpuff girls image */
    width: 400px;
    bottom: 0px;
    transition-duration: 3s;
}

.powerpuff-girls-names{                                 /* Class of powerpuff girls names */
    position: absolute;
    font-family: sans-serif;
    opacity: 0;
    animation: InvisibleNames 3.5s 3s linear forwards;
}

#bubble-name{                                           /* Bubbles name */
    top: 60px;
    left: 0px;
    color: #33ace3;
    transform: rotate(-30deg);
    text-shadow: 2px 2px #98daf1;
}

#blossom-name{                                          /* Blossom name */
    margin-top: 0px;
    top: 0px;
    left: 170px;
    color: #ea6964;
    text-shadow: 2px 2px #e78c89;
}

#buttercup-name{                                        /* Buttercup name */
    top: 70px;
    right: 0px;
    color: #4ab62c;
    transform: rotate(30deg);
    text-shadow: 2px 2px #81cb71;
}

#powerpuff-logo-btn{                                        /* Logo and button to main page */
    width: 600px;
    top: 350px;
    left: 300px;
    transition: 1s ease-out;
}

#mojo-jojo-box{                                             /* Box for mojo jojo */
    position: absolute;
    width: 320px;
    height: 200px;
    bottom: -250px;
    left: 0px;
    animation: mojoJojoMove 7s 1s linear infinite;
}

#mojo-jojo-text{                                            /* Text bubble for mojo jojo */
    position: absolute;
    padding: 15px;
    width: 150px;
    top: 15px;
    right: 0px;
    background: rgba(255, 255, 255, 0.8);
    border: rgb(255, 255, 255) 2px solid;
    border-radius: 50%;
    font-family: monospace;
    color: #37335b;
    font-size: 14px;
    opacity: 0;
    animation: mojoJojoThinkBubble 7s 1s linear infinite;
}

#mojo-jojo-img{                                             /* Mojo jojo image */
    width: 240px;
    bottom: 0px;
    left: 0px;
}


/* The pseudo-elements' triggers, transform properties and animation properties */

.interactive-elements:hover{                                /* Pointer cursor on all interactive elements */      
    cursor: pointer;
}

#powerpuff-girls-img:active{                                /* Powerpuff girls image rotates when active */
    cursor: pointer;
    transform: rotate(-360deg);
}

#powerpuff-girls-img:active ~ .powerpuff-girls-names{       /* OBS, this line of code does not work. I don't understand why. The purpose of the code is to make the powerpuff names invisible when you rotate powerpuff girls image. Would love some feedback on how to make this work. */
    animation-play-state: paused;
}

#powerpuff-logo-btn:hover{                                  /* Logo enlarges when hovering */
    transform: scale(1.2);
}

#mojo-jojo-box:hover{
    content: url("../Images/indexmojojojoscared.png");      /* When hovering on Mojo Jojo the image changes and animation stops */
    width: 270px;
    bottom: 0px;
    left: -50px;
    animation-play-state: paused;
}

#mojo-jojo-box:active{                                      /* When active on Mojo jojo runs away outside container */
    cursor: pointer;
    content: url(../Images/indexmojojojoscared.png);
    animation: mojoJojoRunsAway 1s linear forwards;
}


/* The keyframes for animation */

@keyframes powerpuffFlying{                                 /* Powerpuff flying up from the bottom of container */
    0%{
        bottom: -300px;
    }
    100%{
        bottom: 450px;
    }
}

@keyframes powerpuffUpDown{                                 /* Powerpuff hovering up and down in the air */
    0%{
        bottom: 450px;
    }
    40%{
        bottom: 400px;
    }
    100%{
        bottom: 450px;
    }
}

@keyframes InvisibleNames{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
    
}

@keyframes mojoJojoMove{                                    /* Mojo jojo moving up and down into the container */
    0%{
        bottom: -250px;
    }
    75%{
        bottom: 0px;
    }
    90%{
        bottom: 0px;
    }
    100%{
        bottom: -300px;
    }
}

@keyframes mojoJojoThinkBubble{                             /* The think bubble appearing and disaapearing */
      0%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes mojoJojoRunsAway{                                /* Mojo jojo moves out of the container to the left */
    0%{
        left: -50px;
    }
    100%{left: -260px;
        
    }
}