/* The elements and theit properties */

body{
    background-color: #f6e3ff;
}

#container{                                             /* Main container */
    position: relative;
    margin: auto;
    width: 1200px;
    height: 800px;
    border: 3px solid black;
    background-image: url("../Images/mainbackground.png"), linear-gradient(#f76da9, #fff34d);
    background-size: cover;
    overflow: hidden;
}

#talk-bubble{                                           /* First talk bubble */
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0px;
    left: 550px;
    background-image: url("../Images/talkbubble.png");
    background-size: cover;
    color: rebeccapurple;
    font-family: monospace;
    font-size: 40px;
    text-align: center;
    opacity: 0;
    animation: talkBubble 4.5s 2s linear;
}

#bubble-scared-text{                                    /* Second talk bubble */
    position: absolute;
    background-image: url("../Images/celebratebubble%20.png");
    background-size: cover;
    width: 150px;
    height: 150px;
    top: 120px;
    right: 160px;
    font-weight: bold;
    font-family: monospace;
    font-size: 15px;
    color: #37335b;
    text-align: center;
    opacity: 0;
    animation: talkBubble2 3s 7s linear;
}

.powerpuff-girls-boxes{                                 /* Powerpuff girls boxes */
    position: absolute;
    width: 100px;
    height: 200px;
}

#bubble-box{                                            /* Bubble box */
    top: 220px;
    right: 300px;
    transition: 0.5s ease-in;
}

#blossom-box{                                           /* Blossom box */
    top: 270px;
    right: 220px;
}

#buttercup-box{                                         /* Buttercup box */
    top: 320px;
    right: 100px;
}

.powerpuff-girls-img{                                   /* Powerpuff girls image class */
    position: absolute;
    width: 100px;
    top: -600px;
    cursor: pointer;
    animation: puffFlyingDown 1.5s 1s ease-out forwards,
               puffMoveUpDown 2s 2.5s ease-in-out infinite;
}

#mojo-jojo-box{                                         /* Mojo jojo Box */
    position: absolute;
    width: 330px;
    height: 200px; 
    top: 115px;
    left: 185px;
}

#mojo-jojo-img{                                         /* Mojo jojo image */
    position: absolute;
    width: 250px;
    bottom: 0px;
    left: 0px;
    transform: rotate(3deg);
    animation: mojoJojoFlyingDown 1.2s ease-in forwards;           
}


/* Triggers */

#mojo-jojo-box:hover{                                   /* Mojo Jojo goes crazy when you hover over him */
    content: url("../Images/mainmojojojocrazy.png");
    animation: mojoJojoGoingCrazy 0.2s linear infinite;
}

#bubble-box:active{                                     /* Bubble is scared and hides behind Blossom */
    transform: translate(150px, 40px);
}

#blossom-box:active{                                    /* Blossom attacks Mojo Jojo */
    content: url("../Images/mainblossomflying.png");
    animation: blossomAttack 1s ease-in;
}

#blossom-box:active ~ #mojo-jojo-box{                   /* Mojo jojo image changes when blossom attacks him, he gets hurt */
    animation: mojoJojoHurt 1s linear forwards;
}

#buttercup-box:active{                                  /* Buttercup attacks Mojo Jojo */
    content: url("../Images/mainbuttercupflying.png");
    animation: buttercupAttack 2s linear forwards;
}

#buttercup-box:active ~ #mojo-jojo-box{                 /* Mojo Jojo image changes when buttercup attacks him, he gets hurt again */
    animation: mojoJojoHurtAgain 2s linear forwards;
}


/* Animations */

@keyframes puffFlyingDown{                              /* All the powerpuff girls flying down from outside container */
    0%{
        top: -300px;
    }
    100%{
        top: 7.5%;
    }
}

@keyframes puffMoveUpDown{                              /* /* All the powerpuff girls hovering in the sky */
    0%{
        top: 7.5%;
    }
    50%{
        top: 15%;
    }
    100%{
        top: 7.5%;
    }
}

@keyframes mojoJojoFlyingDown{                          /* Mojo Jojo flying down from outside container */
    0%{
        bottom: 350px;
    }
    100%{
        bottom: 0px;
    }
}

@keyframes talkBubble{                                  /* First talk bubble appear */
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes talkBubble2{                                 /* Second talk bubble appear */
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes mojoJojoGoingCrazy{                          /* Mojo Jojo going crazy animation */
    
    0%{
        left: 125px;
        transform: scale(1);
        transform: rotate(0deg)
    }
    50%{
        left: 125px;
        transform: scale(2);
        transform: rotate(7deg);
    }
    100%{
        left: 125px;
        transform: scale(1);
        transform: rotate(0deg);
    }
}

@keyframes blossomAttack{                               /* Blossom Attack animation */
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(-470px, -100px);
    }
    100%{
        transform: translate(0px);
    }
}

@keyframes mojoJojoHurt{                                /* Mojo Jojo gets hurt animation */
    0%{
        left: 125px;
        content: url("../GIF/mainmojojojo.gif");
    }
    50%{
        left: 125px;
        content: url("../GIF/mainmojojojohurt.gif");
    }
    100%{
        left: 125px;
        content: url("../GIF/mainmojojojo.gif");
    }
}

@keyframes buttercupAttack{                             /* Buttercup attack animation */
     0%{ 
        transform: translate(0px, 0px);
    }
    25%{
        transform: translate(-290px, 200px);
    }
    50%{
        transform: translate(-450px, -300px);
    }
    75%{
        transform: translate(-600px, -250px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}

@keyframes mojoJojoHurtAgain{                           /* Mojo Jojo gets hurt again animation */
    0%{
        content: url("../GIF/mainmojojojo.gif");
        top: 115px;
        left: 125px;
    }
    74%{
        content: url("../GIF/mainmojojojo.gif");
        top: 115px;
        left: 125px;
    }
    75%{
        content: url("../Images/mainmojojojohurtagain.png");
        top: 115px;
        left: 125px;
    }
    100%{
        content: url("../Images/mainmojojojohurtagain.png");
        left: -330px;
        top: 215px;
    }
}
